
    <a>
        <ngx-avatar [size]="avatarSize" [src]="imageUrl" [name]="person?.name!"></ngx-avatar>
        <!-- <img class="profile lazyload lazyloader" [src]="'/api/public/tmdb-image-from-tmdb/w138_and_h175_face/'+image?.tmdbId" data-loaded="true"/> -->
    </a>
    <p><a>{{person?.name}}</a></p>
    <p class="character">{{credit?.character}}</p>

   