        <a href="/contact/Edward_Norton/35512" class="ecot-contact-inner" itemprop="url">
            <ngx-avatar [size]="avatarSize" [src]="imageUrl" [name]="person?.name!"></ngx-avatar> 
            <!-- <img itemprop="image" 
                [src]="imageUrl"
                alt="Photo Edward Norton" title="Photo Edward Norton" width="130" height="200">  -->
            <div class="ecot-contact-caption">
                <span class="d-offset ecot-contact-label" itemprop="name">{{person?.name}}</span>
                <div *ngIf="credit?.creditType === 'Cast'"><span  class="ecot-contact-role">{{credit?.character}}</span></div>
                <div *ngIf="credit?.creditType === 'Crew'"><span  class="ecot-contact-role">{{credit?.job}} {{credit?.department}}</span></div>
            </div>
        </a>
    