.wrap_movie {
  background-color: #fff;
  position: relative;
}

section.header {
  color: rgba(0, 0, 0, 0.8);
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 13px;
  line-height: 16px;
  box-sizing: border-box;
  display: block;
  background-color: #1e1e1e;
  background-position: center 20%;
  background-size: cover;
  display: block;
  height: 452px;
}

div.header_overlay {
  color: rgba(0, 0, 0, 0.8);
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 13px;
  line-height: 16px;
  box-sizing: border-box;
  background-image: linear-gradient(to bottom, transparent 0, rgba(0, 0, 0, 0.9) 100%);
  background-repeat: repeat-x;
  height: 452px;
}

div.header_main {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 13px;
  line-height: 16px;
  box-sizing: border-box;
  margin: 0 auto;
  color: #fff;
  padding-bottom: 20px;
  position: relative;
  transition: all 0.2s ease-in;
  padding-top: 210px;
}

.poster_figure {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

a.header_poster_a {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 13px;
  line-height: 16px;
  box-sizing: border-box;
  text-decoration: none;
  color: #2e81b0;
}

img.header_poster_img {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: #2e81b0;
  width: 160px;
  height: 220px;
  vertical-align: top;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

div.desc_header {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  box-sizing: border-box;
  padding-left: 20px;
  width: 780px;
  display: inline-block;
  vertical-align: middle;
}

div.desc_header_title {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  box-sizing: border-box;
  margin-bottom: 15px;
}

h1.movie_title {
  color: #fff;
  display: inline;
  margin: 0;
  font-size: 42px;
  font-family: 'Lato', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-weight: 700;
  line-height: 44px;
  margin-right: 10px;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
}

.movie_year {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 30px;
}
