<div class="wrap__content">
    <section class="pvi-hero  type-1"
        [style]="'background-image: url(/api/public/tmdb-image-from-tmdb/w1920_and_h800_multi_faces'+backdrop?.tmdbId+');'">

        <div class="pvi-hero-overlay">
            <div class="d-grid-extend pvi-hero-content">






                <figure class="d-media small d-product-checked-wrapper pvi-hero-figure" data-rel=" "
                    data-sc-product-id="363185">

                    <!--  <div class="d-media-videos " data-rel="btn-play-product" data-sc-product-id="363185"
                        data-sc-play-type="videos" data-sc-parameter-id="0" data-sc-play-value="">
                        <span class="d-media-caption">Bande-annonce</span>
                    </div> -->


                    <a href="https://media.senscritique.com/media/000012359351/source_big/Fight_Club.jpg"
                        class="lightview" data-lightview-group="posters" data-lightview-title="Fight Club">

                        <img class="pvi-hero-poster" itemprop="image"
                            [src]="'/api/public/tmdb-image-from-tmdb/w300_and_h450_bestv2'+poster?.tmdbId"
                            alt="Affiche Fight Club" title="Affiche Fight Club" width="160" height="220">

                    </a>


                </figure>


                <div class="pvi-hero-product">
                    <div class="d-rubric-inner">
                        <h1 class="pvi-product-title  " itemprop="name" title="Une ode américaine">
                            {{ movie?.title! }}
                        </h1>
                        <small class="pvi-product-year">({{movie?.releaseDate! | date:'y'}})</small>



                        <h2 *ngIf="movie?.originalTitle" itemprop="alternateName" class="pvi-product-originaltitle">
                            ({{movie?.originalTitle!}})</h2>
                        <div class="facts">

                            <span class="release">{{movie?.releaseDate | date}}</span>
                            <span class="genres">
                                <a *ngFor="let genre of movie?.genres; let last = last">{{ genre.name}}{{ last ? '' : ',
                                    ' }}</a>
                            </span>
                            <span class="runtime">{{movie?.runtime | duration}}</span>
                        </div>


                    </div>
                    <div class="movie-tagline">
                        {{ movie?.tagline }}
                    </div>
                    <div class="synopsis">
                        <h2>Synopsis</h2>
                        <div class="movie-overview">{{movie?.overview}}</div>
                    </div>
                    <div>
                        <span>
                            <ngx-gauge [thick]="gaugeThick" [value]="movie?.voteAverage!" label="vote"
                                [foregroundColor]="gaugeForegroundColor" [type]="gaugeType" [min]="gaugeMin"
                                [max]="gaugeMax" [size]="gaugeSize" [cap]="gaugeCap"></ngx-gauge>
                            ({{movie?.voteCount!}})
                        </span>
                    </div>



                    <!-- <div class="pvi-product-scactions" data-rel="sc-rating" data-sc-product-id="39130737"
                        data-format-count="0" data-format-list="" data-format-id="">
                        <div class="d-rubric-inner">

                            <div class="elrs-stars " data-rel="stars-container" data-product-original-rating=""><span
                                    data-sc-action="rate" data-product-rating="1" data-sc-product-id="39130737"
                                    data-sc-tooltip="true" data-sc-tooltip-position-target="top center"
                                    data-sc-tooltip-position-tip="bottom center" class="eins-sprite eins-rate"
                                    data-hasqtip="164" oldtitle="1" title="">1</span><span data-sc-action="rate"
                                    data-product-rating="2" data-sc-product-id="39130737" data-sc-tooltip="true"
                                    data-sc-tooltip-position-target="top center"
                                    data-sc-tooltip-position-tip="bottom center" class="eins-sprite eins-rate"
                                    data-hasqtip="165" oldtitle="2" title="">2</span><span data-sc-action="rate"
                                    data-product-rating="3" data-sc-product-id="39130737" data-sc-tooltip="true"
                                    data-sc-tooltip-position-target="top center"
                                    data-sc-tooltip-position-tip="bottom center" class="eins-sprite eins-rate"
                                    data-hasqtip="166" oldtitle="3" title="">3</span><span data-sc-action="rate"
                                    data-product-rating="4" data-sc-product-id="39130737" data-sc-tooltip="true"
                                    data-sc-tooltip-position-target="top center"
                                    data-sc-tooltip-position-tip="bottom center" class="eins-sprite eins-rate"
                                    data-hasqtip="167" oldtitle="4" title="">4</span><span data-sc-action="rate"
                                    data-product-rating="5" data-sc-product-id="39130737" data-sc-tooltip="true"
                                    data-sc-tooltip-position-target="top center"
                                    data-sc-tooltip-position-tip="bottom center" class="eins-sprite eins-rate"
                                    data-hasqtip="168" oldtitle="5" title="">5</span><span data-sc-action="rate"
                                    data-product-rating="6" data-sc-product-id="39130737" data-sc-tooltip="true"
                                    data-sc-tooltip-position-target="top center"
                                    data-sc-tooltip-position-tip="bottom center" class="eins-sprite eins-rate"
                                    data-hasqtip="169" oldtitle="6" title="">6</span><span data-sc-action="rate"
                                    data-product-rating="7" data-sc-product-id="39130737" data-sc-tooltip="true"
                                    data-sc-tooltip-position-target="top center"
                                    data-sc-tooltip-position-tip="bottom center" class="eins-sprite eins-rate"
                                    data-hasqtip="170" oldtitle="7" title="">7</span><span data-sc-action="rate"
                                    data-product-rating="8" data-sc-product-id="39130737" data-sc-tooltip="true"
                                    data-sc-tooltip-position-target="top center"
                                    data-sc-tooltip-position-tip="bottom center" class="eins-sprite eins-rate"
                                    data-hasqtip="171" oldtitle="8" title="">8</span><span data-sc-action="rate"
                                    data-product-rating="9" data-sc-product-id="39130737" data-sc-tooltip="true"
                                    data-sc-tooltip-position-target="top center"
                                    data-sc-tooltip-position-tip="bottom center" class="eins-sprite eins-rate"
                                    data-hasqtip="172" oldtitle="9" title="">9</span><span data-sc-action="rate"
                                    data-product-rating="10" data-sc-product-id="39130737" data-sc-tooltip="true"
                                    data-sc-tooltip-position-target="top center"
                                    data-sc-tooltip-position-tip="bottom center" class="eins-sprite eins-rate"
                                    data-hasqtip="173" oldtitle="10" title="">10</span></div>

                            <div class="pvi-product-done">
                                <div class="d-hidden" data-rel="done-on" data-sc-product-id="39130737">
                                    <span class="eins-sprite eins-done  green cvi-date-done-icon"></span>
                                    <span data-rel="when-done-label-text" data-sc-product-id="39130737">
                                        Quand ?
                                    </span>
                                    <span class="d-date-calendar pvi-calendar-icon white" data-sc-product-id="39130737"
                                        data-rel="tooltip-date-done" data-sc-page="product" data-hasqtip="28"></span>
                                </div>
                            </div>
                        </div>


                        <button type="button" data-sc-action="recommend" data-sc-product-id="39130737"
                            class="d-button pvi-product-scaction " style="display:none;">
                            <span class="eins-sprite eins-recommend  blue"></span> Coup de coeur
                        </button>
                        <button type="button" data-rel="bt-review sc-button-modal-sc" data-sc-product-id="39130737"
                            data-scmodal-type="review" class="d-button pvi-product-scaction" style="display:none;">
                            <span class="eins-sprite eins-review  blue"></span> Critiquer
                        </button>

                        <button type="button" data-sc-action="wish-list" data-sc-product-id="39130737"
                            class="d-button pvi-product-scaction ">
                            <span class="eins-sprite eins-wish  blue"></span>
                            <span data-rel="label-wish">
                                Envie de le voir
                            </span>
                        </button>
                        <button type="button" data-sc-action="current" data-sc-product-id="39130737"
                            class="d-button pvi-product-scaction ">
                            <span class="eins-sprite eins-current  blue"></span>
                            Je le regarde
                        </button>


                        <button type="button" data-rel="sc-button" data-sc-product-id="39130737"
                            class="d-button pvi-product-contextmenu" data-hasqtip="26" aria-describedby="qtip-26">
                            <span class="eins-sprite eins-extend  "></span>
                        </button>


                    </div> -->


                    <div class="pvi-product-scrating" itemscope="" itemprop="aggregateRating"
                        itemtype="http://schema.org/AggregateRating">

                        <!-- <span itemprop="ratingValue" class="pvi-scrating-value">
                            <ngx-gauge [value]="movie?.voteAverage!" [label]="'('+movie?.voteCount!+')'" [foregroundColor]="gaugeForegroundColor" [type]="gaugeType" [min]="gaugeMin" [max]="gaugeMax" [size]="gaugeSize" [cap]="gaugeCap"></ngx-gauge> 
                            
                        </span> -->

                        <!-- <meta itemprop="bestRating" content="10">
                        <meta itemprop="worstRating" content="1">
                        <meta itemprop="ratingCount" content="522">
                        <meta itemprop="reviewCount" content="11">

                        <div class="pvi-scrating-graph">

                            <ol class="elrg-graph product  " data-rel="sc-graph-mini" data-sc-mode="global"
                                data-hasqtip="53">
                                <li class="elrg-graph-col">

                                    <div class="elrg-graph-data" style="height: 1.5px;">1</div>

                                </li>
                                <li class="elrg-graph-col">

                                    <div class="elrg-graph-data" style="height: 1.5px;">4</div>

                                </li>
                                <li class="elrg-graph-col">

                                    <div class="elrg-graph-data" style="height: 1.5px;">12</div>

                                </li>
                                <li class="elrg-graph-col">

                                    <div class="elrg-graph-data" style="height: 4.5px;">28</div>

                                </li>
                                <li class="elrg-graph-col">

                                    <div class="elrg-graph-data" style="height: 10.5px;">67</div>

                                </li>
                                <li class="elrg-graph-col">

                                    <div class="elrg-graph-data" style="height: 25.5px;">150</div>

                                </li>
                                <li class="elrg-graph-col">

                                    <div class="elrg-graph-data" style="height: 30px;">179</div>

                                </li>
                                <li class="elrg-graph-col">

                                    <div class="elrg-graph-data" style="height: 10.5px;">65</div>

                                </li>
                                <li class="elrg-graph-col">

                                    <div class="elrg-graph-data" style="height: 3px;">14</div>

                                </li>
                                <li class="elrg-graph-col">

                                    <div class="elrg-graph-data" style="height: 1.5px;">2</div>

                                </li>
                            </ol> -->


                        <!-- <ol class="elrg-graph global extend " data-rel="sc-graph-big" data-sc-mode="global"
                                style="display: none;">
                                <li class="elrg-graph-col">
                                    <span class="elrg-graph-count">1</span>
                                    <div class="elrg-graph-data" style="height: 4px;">1</div>
                                    <span class="elrg-graph-rating">1</span>
                                </li>
                                <li class="elrg-graph-col">
                                    <span class="elrg-graph-count">4</span>
                                    <div class="elrg-graph-data" style="height: 4px;">4</div>
                                    <span class="elrg-graph-rating">2</span>
                                </li>
                                <li class="elrg-graph-col">
                                    <span class="elrg-graph-count">12</span>
                                    <div class="elrg-graph-data" style="height: 4px;">12</div>
                                    <span class="elrg-graph-rating">3</span>
                                </li>
                                <li class="elrg-graph-col">
                                    <span class="elrg-graph-count">28</span>
                                    <div class="elrg-graph-data" style="height: 12px;">28</div>
                                    <span class="elrg-graph-rating">4</span>
                                </li>
                                <li class="elrg-graph-col">
                                    <span class="elrg-graph-count">67</span>
                                    <div class="elrg-graph-data" style="height: 28px;">67</div>
                                    <span class="elrg-graph-rating">5</span>
                                </li>
                                <li class="elrg-graph-col">
                                    <span class="elrg-graph-count">150</span>
                                    <div class="elrg-graph-data" style="height: 68px;">150</div>
                                    <span class="elrg-graph-rating">6</span>
                                </li>
                                <li class="elrg-graph-col">
                                    <span class="elrg-graph-count">179</span>
                                    <div class="elrg-graph-data" style="height: 80px;">179</div>
                                    <span class="elrg-graph-rating">7</span>
                                </li>
                                <li class="elrg-graph-col">
                                    <span class="elrg-graph-count">65</span>
                                    <div class="elrg-graph-data" style="height: 28px;">65</div>
                                    <span class="elrg-graph-rating">8</span>
                                </li>
                                <li class="elrg-graph-col">
                                    <span class="elrg-graph-count">14</span>
                                    <div class="elrg-graph-data" style="height: 8px;">14</div>
                                    <span class="elrg-graph-rating">9</span>
                                </li>
                                <li class="elrg-graph-col">
                                    <span class="elrg-graph-count">2</span>
                                    <div class="elrg-graph-data" style="height: 4px;">2</div>
                                    <span class="elrg-graph-rating">10</span>
                                </li>
                            </ol> 

                        </div> -->
                        <!-- <ul class="pvi-scrating-details">
                            <li class="pvi-stats-item" data-sc-product-id="39130737" data-rel="sc-total-ratings"
                                data-sc-tooltip="true" data-hasqtip="174" oldtitle="Notes" title="">
                                <b class="pvi-stats-number d-link-reverse">522</b>
                                <span class="eins-sprite eins-star  white"></span>
                            </li>
                            <li class="pvi-stats-item" data-sc-tooltip="true" data-hasqtip="175"
                                oldtitle="Coups de coeur" title="">
                                <b class="pvi-stats-number">18</b>
                                <span class="eins-sprite eins-recommend  white"></span>
                            </li>
                            <li class="pvi-stats-item" data-sc-tooltip="true" data-hasqtip="176" oldtitle="Envies"
                                title="">
                                <b class="pvi-stats-number">385</b>
                                <span class="eins-sprite eins-wish  white"></span>
                            </li>
                        </ul> -->
                    </div>

                </div>


            </div>
        </div>
    </section>
    <div class="d-grid-extend">
        <div class="d-grid-main">
            <!-- <section class="pvi-productDetails">
                <ul>
                    <li class="pvi-productDetails-item">
                        <h2>Film</h2>
                        de <span itemscope="" itemprop="director" itemtype="http://schema.org/Person"> <a
                                href="/contact/David_Fincher/26972" itemprop="url"> <span itemprop="name">David
                                    Fincher</span></a></span>
                    </li>



                    



            </section> -->

            <section class="d-rubric" *ngIf="getDirectors()">
                <h4 class="d-heading-opt">
                    <span class="d-heading2-opt">Un Film de </span>
                </h4>
                <div class="d-rubric-inner">


                    <div *ngFor="let cast of getDirectors()" class="ecot-contact">
                        <jhi-mmdb-movie-credit [credit]="cast"></jhi-mmdb-movie-credit>
                    </div>
                   

                </div>
                
            </section>
            <section class="d-rubric" *ngIf="getNovels()">
                <h4 class="d-heading-opt">
                    <span class="d-heading2-opt">D'après une oeuvre de : </span>
                </h4>
                <div class="d-rubric-inner">


                    <div *ngFor="let cast of getNovels()" class="ecot-contact">
                        <jhi-mmdb-movie-credit [credit]="cast"></jhi-mmdb-movie-credit>
                    </div>
                   

                </div>
               

            </section>
            <section class="d-rubric" *ngIf="getScreenplays()">
                <h4 class="d-heading-opt">
                    <span class="d-heading2-opt">Scénario de : </span>
                </h4>
                <div class="d-rubric-inner">


                    <div *ngFor="let cast of getScreenplays()" class="ecot-contact">
                        <jhi-mmdb-movie-credit [credit]="cast"></jhi-mmdb-movie-credit>
                    </div>
                   

                </div>
                
            </section>
            <section class="d-rubric">
                <h4 class="d-heading-opt">
                    <span class="d-heading2-opt">Casting : acteurs principaux</span>
                </h4>
                <div class="d-rubric-inner">


                    <div *ngFor="let cast of casts" class="ecot-contact">
                        <jhi-mmdb-movie-credit [credit]="cast"></jhi-mmdb-movie-credit>
                    </div>
                   

                </div>
                <a href="/film/Fight_Club/363185/details"><span class="d-chevron1-r"></span> Casting complet du film
                    Fight Club</a>

            </section>


            <div data-rel="sc-filmotv-product" data-sc-type-id="1" data-sc-product-id="363185"></div>






            <section class="d-rubric-inner d-border-top">
                <div class="pvi-topicHeader">
                    <button type="button" data-rel="sc-button-modal-sc" data-scmodal-type="review"
                        class="d-button pvi-topicHeader-newTopic" data-sc-product-id="363185">
                        Ecrire une critique
                    </button>
                    <div class="d-heading-opt">
                        <span class="d-heading2-opt">Match des critiques <br>les meilleurs avis</span> Fight Club
                    </div>
                </div>


                <div class="ere-review">
                    <div class="ere-versus">VS</div>

                    <article class="ere-versus-review" data-rel="sc-admin-versus-review" data-sc-collection-id="20761"
                        itemscope="" itemtype="http://schema.org/Review" itemprop="review">
                        <div class="ere-versus-wrapper ">
                            <footer class="ere-review-details">


                                <a href="" class="elrua-useraction size-40  ">
                                    <img class="elrua-useraction-avatar" data-sc-user-tooltip="316"
                                        src="https://media.senscritique.com/media/000004259005/40x40/petaire.png"
                                        alt="Avatar petaire" width="40" height="40" data-hasqtip="44">

                                    <div class="elrua-useraction-action ">
                                        <span class="elrua-useraction-inner only-child" data-rel="sc-action">
                                            10 </span>
                                        <span
                                            class="eins-sprite eins-user-recommend  blue elrua-useraction-recommend"></span>
                                    </div>
                                </a>

                                <span class="d-offset" itemscope="" itemprop="author"
                                    itemtype="http://schema.org/Person" data-sc-user-tooltip="316" data-hasqtip="45">
                                    <span itemprop="name">
                                        petaire
                                    </span>
                                </span>
                            </footer>



                            <button type="button" data-rel="review-overview" data-sc-review-id="20761"
                                class="ere-review-overview"><span class="eins-sprite eins-zoom  "></span></button>

                            <span itemprop="name" class="d-heading2 ere-review-heading">Analyse du film et du
                                livre</span>
                            <p class="ere-review-excerpt" itemprop="description">
                                Fight Club sort à la fin 1999 sur les écrans. Le film fut très controversé à sa sortie
                                en salle, et connu un succès pour le moins mitigé, la faute à un marketing mal orchestré
                                et à une critique assez frileuse.

                                Cependant, le bouche à oreille fit qu'à sa sortie en DVD, il connu une deuxième vie qui
                                l'éleva au rang de film culte pour toute une génération, et l'auteur devint l'objet d'un
                                véritable culte pour son nouveau lectorat, qui se retrouvent désormais sur le site « The
                                Cult« . Il est...
                                <a itemprop="url" href="/film/Fight_Club/critique/20761" class="ere-review-anchor">Lire
                                    l'avis à propos de Fight Club</a>
                            </p>

                            <div class="ere-review-actions">
                                <span class="eins-sprite eins-like-xs-gray  "></span>
                                254
                                <span class="eins-sprite eins-comment-xs-gray  "></span>
                                56
                            </div>
                            <time itemprop="datePublished" class="ere-review-details" datetime="2010-03-12">12 mars
                                2010</time>
                        </div>
                    </article>

                    <article class="ere-versus-review" data-rel="sc-admin-versus-review"
                        data-sc-collection-id="155279561">
                        <div class="ere-versus-wrapper versus-right">
                            <footer class="ere-review-details">


                                <a href="" class="elrua-useraction size-40  ">
                                    <img class="elrua-useraction-avatar" data-sc-user-tooltip="1024326"
                                        src="https://media.senscritique.com/media/000017538905/40x40/Circee.jpg"
                                        alt="Avatar Circée_" width="40" height="40" data-hasqtip="46">

                                    <div class="elrua-useraction-action ">
                                        <span class="elrua-useraction-inner only-child" data-rel="sc-action">
                                            3 </span>
                                    </div>
                                </a>

                                <span class="d-offset" data-sc-user-tooltip="1024326" data-hasqtip="47">

                                    Circée_

                                </span>
                            </footer>



                            <button type="button" data-rel="review-overview" data-sc-review-id="155279561"
                                class="ere-review-overview"><span class="eins-sprite eins-zoom  "></span></button>

                            <span class="d-heading2 ere-review-heading">Leçon de sociologie par le docteur Fincher
                                (spoilers)</span>
                            <p class="ere-review-excerpt">
                                J'avoue après avoir revu ce film, ne pas comprendre la hype qu'il provoque. Un pauvre
                                type s'invente un double plein d'assurance, à l'opposé de lui-même. Le rêve d'un gosse
                                de 12 ans en somme. Et puis des mecs se fightent dans des caves parce qu'ils rejettent
                                la société. Ah !

                                Que dire de plus? Ce film est ennuyeux au possible , long comme une semaine sans soleil.
                                Ah oui, j'oubliais... Le twist final, un des plus renversant de l'histoire du cinéma...

                                On apprend que Brad Pitt...
                                <a href="/film/Fight_Club/critique/155279561" class="ere-review-anchor">Lire l'avis à
                                    propos de Fight Club</a>
                            </p>

                            <div class="ere-review-actions">
                                <span class="eins-sprite eins-like-xs-gray  "></span>
                                16
                                <span class="eins-sprite eins-comment-xs-gray  "></span>
                                5
                            </div>
                            <time class="ere-review-details" datetime="2018-01-13">13 janvier 2018</time>
                        </div>
                    </article>
                </div>

            </section>

        </div>
        <aside class="d-grid-aside">
            <div data-rel="dynamic-element" data-sc-element-position="aside-top"></div>

            <div class="d-rubric pvi-scoutsOff">
                <div class="pvi-scoutsOff-inner">
                    <b class="pvi-scoutsOff-title">Le bouche à oreille</b>
                    <p class="pvi-scoutsOff-text">L'avis de vos amis en 1 clic</p>
                    <a data-rel="login-fb-button" class="d-facebookButton pvi-scoutsOff-button">S'inscrire avec FB</a>
                </div>
            </div>

            <div class="d-rubric product-providers">
                <p class="product-providers__title">Disponible sur</p>
                <div class="product-providers__items">


                    <a href="https://www.primevideo.com/detail/0GDP9E5PK17E66TK19EJL1X30J" target="_blank"
                        class="product-providers__item">
                        <img class="product-providers__logo"
                            src="https://static.senscritique.com/img/providers/amazon.png">
                    </a>
                </div>
            </div>

    </div>
</div>