$lightGrey: #e3e3e3; //227, 227, 227;
$tmdbDarkBlue: #032541; //3, 37, 65;
$tmdbLightBlue: #0150e4; //1,180,228;
$tmdbLighterGreen: #c0fecf; //192, 254, 207;
$tmdbLightGreen: #1ed5a9; //30, 213, 169;
$tmdbLogoGreen: 144, 206, 161;
$tmdbLogoOrange: 253, 193, 112;
$tmdbLogoRed: 217, 59, 99;
$accountSilver: #959595; //149, 149, 149;
$accountPink: #ea148c; //234, 20, 140;
$accountPurple: #805be7; //128, 91, 231;
$accountGreen: #01d277; //1, 210, 119;
$accountTeal: #01c6ac; //1, 198, 172;
$accountLightBlue: #01b4e4; //1, 180, 228;
$accountBlue: #0177d2; //1, 119, 210;
$accountOrange: #d27701; //210, 119, 1;
$accountYellow: #d29001; //210, 144, 1;
$accountRed: #d40242; //212, 2, 66;
$imageBorderRadius: 8px;

section.inner_content a {
  color: rgba($tmdbLightBlue, 1);
}

section.inner_content a:hover {
  color: rgba($tmdbLightGreen, 1);
}

table.credit_group tbody td.role span.character,
table.credit_group tbody td.role span.role {
  color: rgba(0, 0, 0, 0.8);
}

table.credit_group tbody td.role a {
  color: rgba(0, 0, 0, 1);
  font-weight: 600;
}

table.credit_group tbody td.role.true span.group {
  display: block;
  padding-left: 14px;
}

div#known_for {
  width: 100%;
}

ul.list_of_languages,
ul.horizontal_media_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul.list_of_languages {
  margin-bottom: 20px;
}

ul.horizontal_media_list {
  min-height: 221px;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  overflow-x: scroll;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: auto;
}

ul.horizontal_media_list li {
  width: 130px;
  max-width: 195px;
  margin-left: 12px;
}

ul.horizontal_media_list li:first-child {
  margin-left: 0;
}

ul.horizontal_media_list li div.image {
  width: 130px;
  height: 195px;
}

ul.horizontal_media_list li p {
  margin: 0;
}

ul.horizontal_media_list li a,
section.inner_content ul.horizontal_media_list li div.poster {
  height: 100%;
  min-width: 100%;
  width: 100%;
  display: inline-block;
}

section.inner_content ul.horizontal_media_list li div.poster {
  box-shadow: none;
}

ul.horizontal_media_list li a.title {
  display: inline-block;
  text-align: center;
  color: #000;
  font-size: 0.9em;
  padding-top: 4px;
}

ul.horizontal_media_list li img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: $imageBorderRadius;
}

ul.horizontal_media_list li img.placeholder {
  width: 100%;
  height: 100%;
}

ul.list_of_languages li {
  flex: 0 0 auto;
  width: 33%;
  padding-bottom: 4px;
}

section.inner_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

section.inner_content div.bg_image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 376px;
  overflow: hidden;
}

section.inner_content h3 {
  font-weight: 600;
  font-size: 1.3em;
  margin-bottom: 8px;
}

section.inner_content h3.space {
  margin-bottom: 16px;
  padding: 0;
}

section.inner_content h3 a {
  font-weight: 600;
}

div.single_column_wrapper {
  box-sizing: border-box;
  width: 100%;
  border-bottom: 1px solid rgba($lightGrey, 1);
  display: flex;
  justify-content: center;
}

div.single_column {
  max-width: 1300px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  z-index: 0;
  box-sizing: border-box;
}

div.content_wrapper > div.single_column {
  padding: 0;
}

div.single_column > div.inner_block {
  margin: 0;
}

div.custom_bg {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

section.inner_content section.images {
  display: flex;
  flex-wrap: nowrap;
}

section.inner_content section.images > div.poster_wrapper {
  border-width: 0px;
  min-width: 300px;
  width: 300px;
  height: 450px;
  overflow: hidden;
  border-radius: $imageBorderRadius;
}

section.inner_content section.images > div.poster_wrapper.true {
  height: auto;
}

section.inner_content section.images > div.poster_wrapper.true div.poster,
section.inner_content section.images > div.poster_wrapper.true div.zoom {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

section.inner_content section.images div.poster,
section.inner_content section.images div.profile {
  display: block;
  min-width: 300px;
  width: 300px;
  height: 450px;
  position: relative;
  top: 0;
  left: 0;
}

section.inner_content section.images div.image_content {
  width: 100%;
  min-width: 100%;
  height: 100%;
}

section.inner_content section.images div.poster img,
section.inner_content section.images div.profile img {
  display: block;
  width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  border-width: 0px;
  outline: none;
}

div.header_poster_wrapper {
  display: flex;
}

div.shortcut_bar_wrapper {
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

div.shortcut_bar_wrapper .k-menu-group {
  margin-top: -10px;
}

div.shortcut_bar_wrapper ul.k-menu-group.group li.spacer {
  margin-top: 14px;
}

div.shortcut_bar_wrapper ul.k-menu-group.group li.spacer + li.spacer {
  margin-top: 0;
}

ul#new_shortcut_bar {
  height: 100%;
  background-color: #fff;
  font-weight: 600;
  flex-wrap: nowrap;
}

ul#new_shortcut_bar.k-menu.k-menu-horizontal:not(.k-context-menu) > .k-item > .k-link {
  padding: 0;
}

ul#new_shortcut_bar.k-menu > .k-item.k-state-focused,
ul#new_shortcut_bar.k-menu > .k-item:hover {
  border-bottom: 4px solid rgba($tmdbDarkBlue, 1);
  transition: border-color 200ms ease;
}

ul#new_shortcut_bar.k-menu > .k-item {
  padding: 6px 0 4px 0;
  margin-right: 40px;
  border-bottom: 4px solid #fff;
}

ul#new_shortcut_bar.k-menu > .k-item:last-of-type {
  margin-right: 4px;
}

ul#new_shortcut_bar > .true.k-item {
  border-bottom: 4px solid rgba($tmdbLightBlue, 1);
}

ul#new_shortcut_bar.k-menu > .k-item a {
  font-weight: 400;
}

ul.number_group a span.count {
  margin: 0;
  position: absolute;
  right: 1.5rem;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300;
}

div.header {
  width: 100%;
  background: linear-gradient(to bottom right, rgba(89.02%, 89.02%, 89.02%, 1), rgba(100%, 100%, 100%, 1));
}

section div.header div.single_column {
  padding-left: 40px;
  padding-right: 40px;
}

section div.header.first div.single_column {
  padding-top: 30px;
  padding-bottom: 30px;
}

section div.header.small div.single_column {
  padding-top: 15px;
  padding-bottom: 15px;
}

section.inner_content section.header {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  box-sizing: border-box;
  padding-left: 40px;
}

section.inner_content div.title {
  width: 100%;
}

section.inner_content div.title h2 {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 2.2rem;
}

section.inner_content div.title h2 a {
  font-weight: 700;
  color: #000;
}

section.inner_content div.title h2 span.release_date {
  opacity: 0.8;
  font-weight: 400;
}

section.inner_content section.header.small {
  width: 100%;
  height: auto;
  min-height: 0;
  padding-left: 0;
}

section.inner_content div.header.medium section.header {
  padding-bottom: 40px;
}

section.inner_content section.header div.title {
  width: 100%;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
}

section.inner_content section.header.small div.title {
  margin-bottom: 0;
  display: flex;
  align-items: flex-center;
  align-content: center;
}

section.inner_content section.header.small div.title h2 {
  width: auto;
}

section.inner_content section.header h3 {
  width: 100%;
  margin: 0 0 8px 0;
}

section.inner_content section.header.small h3 {
  font-size: 1.1em;
  font-weight: 600;
  margin: 0;
  opacity: 0.6;
}

section.inner_content section.header div.title h3 a {
  font-weight: normal;
  color: #000;
}

section.inner_content section.header div.title a {
  color: #000;
}

section.inner_content section.header div.title div.facts {
  display: flex;
}

section.inner_content section.header div.facts span {
}

section.inner_content section.header div.facts span + span {
  padding-left: 20px;
  position: relative;
  top: 0;
  left: 0;
}

section.inner_content section.header div.facts span + span:before {
  font-size: 1.1em;
  line-height: 1;
  content: '\2022';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 7px;
  display: inline-flex;
  align-content: center;
  align-items: center;
  z-index: -1;
}

section.inner_content section.header div.facts span.release_date {
  opacity: 0.6;
  font-size: 0.8em;
  font-weight: 400;
  border: none;
}

section.inner_content section.header div.facts span.certification + span {
  padding-left: 0;
}

section.inner_content section.header div.facts span + span.certification:before,
section.inner_content section.header div.facts span.certification + span:before {
  content: '';
}

section.inner_content section.header div.facts span.certification {
  display: inline-flex;
  white-space: nowrap;
  align-items: center;
  align-content: center;
  padding: 0.06em 4px 0.15em 4px !important;
  border: 1px solid rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.6);
  line-height: 1;
  border-radius: 2px;
  margin-right: 7px;
}

section.inner_content section.header div.episode_number {
  font-weight: 400;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  align-content: center;
}

div.episode_list h3 + div.episode_number {
  margin-left: 6px;
}

div.episode_list div.episode_number {
  margin-right: 6px;
}

section.inner_content section.header div.episode_number span,
div.episode_list div.episode_number span {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 4px 6px;
  font-size: 1.4em;
  margin: 0;
}

div.episode_list div.episode_number span {
  padding: 0 4px 1px 4px;
  font-size: 0.9em;
  margin-top: 1px;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
}

section.inner_content section.header span.social_links {
  font-size: 1.7em;
}

section.inner_content section.header span.social_links a:first-of-type {
  margin-left: 19px;
}

section.inner_content section.header span.social_links a {
  display: inline-flex;
  align-items: center;
  margin: 0 2px;
}

div.card.v4.tight {
  flex-wrap: wrap;
}

div.card.v4.tight > div.wrapper {
  display: flex;
  max-width: calc(100vw - 82px);
}

div.card.v4.tight div.image {
  min-width: 94px;
  width: 94px;
  height: 141px;
}

div.card.v4.tight div.image a {
  display: block;
  width: 100%;
  height: 100%;
}

div.card.v4.tight div.image div.poster {
  width: 100%;
  height: 100%;
}

div.card.v4.tight div.image img {
  min-width: 100%;
  width: 100%;
  height: 100%;
}

div.card.v4.tight div.details {
  max-width: calc(1300px - 82px - 94px);
}

div.card.v4 div.details div.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

div.card.v4.tight div.details div.overview {
  height: auto;
}

div.card.v4.tight div.details div.overview p {
  font-size: 1em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0;
}

div.card.v4.tight div.details div.overview p:nth-child(n + 2) {
  display: none;
}

div.consensus {
  width: 68px;
  height: 68px;
  display: inline-block;
  transition: transform 0.2s;
  transform: scale(1);
}

div.consensus:hover {
  cursor: pointer;
  transform: scale(1.1);
}

div.consensus.no_hover,
div.consensus:hover.no_hover {
  cursor: auto;
  transform: scale(1);
}

div.consensus.tight {
  width: 38px;
  height: 38px;
  box-sizing: border-box;
}

div.consensus.tight:hover {
  cursor: auto;
  transform: none;
}

div.card.v4 div.details div.wrapper div.consensus {
  margin-right: 10px;
}

div.consensus div.outer_ring {
  display: inline-block;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  padding: 4px;
  background-color: #081c22;
}

div.card div.consensus.tight div.outer_ring {
  width: 38px;
  height: 38px;
  padding: 2px;
}

div.consensus .user_score_chart {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}

div.consensus .user_score_chart canvas {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

div.consensus .user_score_chart .percent {
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.card.v4 div.details div.title div.consensus span {
  margin-left: 0;
}

div.consensus .user_score_chart .percent .icon {
  color: #fff;
}

div.card div.consensus.tight .user_score_chart .percent .icon {
  padding-top: 1px;
  padding-left: 1px;
  font-size: 0.6em;
}

section.inner_content section.header div.rating_block {
  display: inline-block;
  position: relative;
  left: 0;
}

section.inner_content section.header div.rating_block,
x:-moz-any-link {
  top: -10px;
}

section.inner_content section.header div.rating {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  border: none;
  position: relative;
  top: 0;
  left: 0;
  background-color: rgba($tmdbLightBlue, 1);
}

section.inner_content section.header div.rating span.rating {
  font-weight: 600;
  padding-left: 18px;
}

section.inner_content div.biography div.text {
  line-height: 1.4em;
  max-height: none;
  overflow: hidden;
}

section.inner_content div.biography div.text.truncate {
  max-height: 222px;
}

section.inner_content div.biography div.text.should_fade:after {
  content: '';
  width: 100%;
  height: 22px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 85%);
  pointer-events: none;
}

section.inner_content div.biography div.read_more {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 2px;
  left: 0;
  z-index: 2;
  height: 22px;
}

section.inner_content div.biography div.read_more a {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-weight: 600;
  height: 22px;
}

section.inner_content div.biography div.read_more a span {
  top: 1px;
  filter: invert(72%) sepia(90%) saturate(3722%) hue-rotate(152deg) brightness(93%) contrast(100%);
}

section.inner_content div.biography div.content {
  position: relative;
  top: 0;
  left: 0;
}

section.inner_content div.biography div.content p {
  margin-bottom: 0;
  padding-bottom: 22px;
  line-height: 22px;
  position: relative;
}

section.inner_content div.biography div.content p:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
}

section.inner_content section.header h3.featured {
  margin-top: 30px;
}

section.inner_content section.header h3.tagline {
  margin-bottom: 0;
  font-size: 1.1em;
  font-weight: 400;
  font-style: italic;
  opacity: 0.7;
}

section.inner_content section.header h3.tagline + h3 {
  margin-top: 10px;
}

section.inner_content section.header div.overview + ul.facts {
  margin-top: 20px;
}

section.inner_content section.header ul.facts span {
  font-weight: 600;
}

section.inner_content section.header div.overview p:last-child {
  margin-bottom: 0;
}

section.inner_content section.header ul.actions {
  margin-bottom: 20px;
  width: 100%;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

section.inner_content section.header.small ul.actions {
  margin-bottom: 0;
}

section.inner_content section.header ul.actions li {
  margin-right: 20px;
}

section.inner_content section.header ul.actions li.video span {
  margin-right: 5px;
  font-size: 1.4em;
}

section.inner_content.no_poster section.header ul.actions li.video span {
  filter: invert(0);
}

section.inner_content section.header ul.actions li.chart {
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 68px;
}

section.inner_content section.header ul.actions li.chart div.text {
  font-weight: 700;
  margin-left: 6px;
  white-space: pre-line;
}

section.inner_content section.header ul.actions li:last-of-type {
  margin-right: 0;
}

section.inner_content section.header ul.actions li.chart:hover {
  background-color: transparent;
  cursor: auto;
}

section.inner_content.person_content section.header ul.actions li:hover {
  background-color: #fff;
}

section.inner_content section.header ul.actions li.tooltip {
  padding: 3px 0;
}

section.inner_content section.header ul.actions li a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

section.inner_content section.header ul.actions li.tooltip a,
section.inner_content section.header ul.actions li.video a {
  box-sizing: border-box;
  background: rgba($tmdbDarkBlue, 1);
  color: #000;
  border-radius: 50%;
  width: 46px;
  height: 46px;
}

section.inner_content section.header ul.actions li.video a {
  border: none;
  background: transparent;
  width: auto;
  height: auto;
  font-weight: 600;
  will-change: opacity;
  transition: linear 0.1s;
}

section.inner_content section.header ul.actions li.video a:hover {
  opacity: 0.6;
}

section.inner_content section.header ul.actions li a:hover {
  color: #fff;
}

div#lists_content {
  display: inline-block;
  width: auto;
  height: auto;
}

div#lists_content div.loading {
  margin-top: 30px;
  margin-left: 10px;
  padding-bottom: 20px;
}

div#lists_content ul {
  margin-bottom: 0px;
}

div#lists_content ul li {
  white-space: nowrap;
  margin: 8px 0;
  font-size: 1em;
}

div#lists_content ul li:hover {
  cursor: pointer;
}

div.media.movie_v4,
div.media.tv_v4,
div.media.person_v4,
div.media.collection_v4 {
  margin-top: 0;
  margin-bottom: 0;
  background-color: #fff;
  width: 100%;
}

div.media.movie_v4.header_medium div.left_column,
div.media.tv_v4.header_medium div.left_column,
div.media.person_v4 div.left_column {
  width: 260px;
}

div.media.person_v4 div.left_column section.facts,
div.media.movie_v4.header_medium div.left_column section.facts,
div.media.movie_v4.header_medium div.left_column section.genres,
div.media.movie_v4.header_medium div.left_column section.keywords,
div.media.tv_v4.header_medium div.left_column section.facts,
div.media.tv_v4.header_medium div.left_column section.genres,
div.media.tv_v4.header_medium div.left_column section.keywords {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 0;
}

div.media.movie_v4.header_medium div.left_column section.facts,
div.media.tv_v4.header_medium div.left_column section.facts {
  margin-bottom: 30px;
}

section.main_column {
  width: 100%;
}

div.media.movie_v4.header_medium section.main_column,
div.media.tv_v4.header_medium section.main_column,
div.media.person_v4 section.main_column {
  width: 100%;
  margin-top: 30px;
}

section.main_column div.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  height: 40px;
  margin-bottom: 6px;
}

section.main_column div.filter h3 {
  margin: 0;
}

div.media.movie_v4.header_medium div.left_column h4,
div.media.tv_v4.header_medium div.left_column h4 {
  font-size: 1.2em;
  margin-bottom: 12px;
}

div.media.movie_v4.header_medium div.left_column h3,
div.media.tv_v4.header_medium div.left_column h3 {
  display: none;
}

section.images + div.column {
  margin-top: 30px;
}

div.column p {
  margin: 0 0 20px 0;
  font-size: 1em;
}

div.column p.no_pad {
  margin-bottom: 0;
}

.no_margin {
  margin: 0 !important;
}

div.column ul li {
  margin-bottom: 10px;
}

div.column p strong {
  display: block;
  font-weight: 600;
}

section span.separator {
  border-bottom: 1px solid #dedede;
  width: 100%;
  display: inline-block;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

section.images div.image_content {
  min-width: 300px;
  width: 300px;
  height: 450px;
}

section.images div.zoom {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  border-radius: $imageBorderRadius;

  visibility: hidden;
  opacity: 0;
  transition: linear 0.2s;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

section.images div.poster:hover div.image_content + div.zoom,
section.images div.profile:hover div.image_content + div.zoom {
  visibility: visible;
  opacity: 1;
}

section.images div.zoom a {
  color: #fff;
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
}

section.images div.zoom span.glyphicons_v2 {
  margin-right: 6px;
}

.svg_overlay {
  position: absolute;
  height: 0;
  width: 0;
  overflow: none;
  left: -100%;
}

img.placeholder {
  border: 1px solid #c4c4c4;
}

h2 span.social_links {
  display: inline-block;
}

h2 a.social_link {
  display: inline-block;
  font-size: 0.6em;
}

h2 a.social_link:first-of-type {
  margin-left: 20px;
}

section.facts div.social_links {
  display: flex;
}

section.facts div.social_links div {
  height: 30px;
  margin-bottom: 30px;
}

section.facts div.social_links div + div {
  margin-left: 10px;
}

section.facts div.social_links div + div.homepage {
  border-left: 1px solid #d7d7d7;
  padding-left: 8px;
}

section.facts div.social_links a.social_link {
  display: block;
  font-size: 1.9em;
}

section.facts div.social_links a.social_link img {
  width: 100%;
  height: 100%;
  padding-top: 10px;
}

section.inner_content a.edit {
  display: inline-block;
  font-size: 0.9em;
  border-color: #000;
  margin-top: 30px;
  font-weight: 700;
}

section.inner_content a.edit:hover {
  color: #fff;
  background-color: #000;
}

section.inner_content section.header p.fantv {
  margin: 36px 0 40px 0;
}

div.credits_list h3:first-of-type {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}

div.credits_list {
  width: 100%;
}

div.credits_list div.flex {
  display: flex;
  justify-content: space-between;
}

table.credits {
  width: 100%;
  margin: 0;
  margin-top: 10px;
}

table.credits + h3 {
  margin-top: 30px;
  margin-bottom: 0;
}

table.credits tbody {
  background-color: #fff;
  border: 1px solid rgba($lightGrey, 1);
  border-bottom: none;
}

table.credits th {
  font-size: 1.4em;
  padding-bottom: 20px;
}

table.credits td {
  padding: 0;
}

table.credit_group {
  width: 100%;
  margin: 0;
  border-collapse: separate;
  border-bottom: 1px solid #dedede;
  padding: 10px 0 10px 0;
}

table.credits tr:last-child table.credit_group {
  border-bottom: none;
}

table.credit_group tbody td {
  padding: 8px 16px;
}

table.credit_group tbody td.year {
  width: 64px;
  font-weight: 400;
  vertical-align: top;
  text-align: center;
}

table.credit_group tbody td.seperator {
  padding: 0;
  color: #ccc;
  vertical-align: top;
  width: 24px;
}

table.credit_group tbody td.seperator span.glyphicons_v2 {
  top: 11px;
}

table.credit_group tbody td.seperator span.glyphicons_v2:hover {
  cursor: pointer;
  background-image: url('https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-299-circle-selected-bd5504b5b4b3d56021801a8f1d64956aedf8be4f77e8b614244b9224943a5998.svg');
}

td.account_adult_false.item_adult_true {
  filter: blur(6px);
}

li.account_adult_false.item_adult_true {
  display: none;
}

table.credit_group tbody td.role span,
table.credit_group tbody td.role span a {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}

#credit_filters {
  position: absolute;
  top: -5px;
  right: 0;
}

div.white_column {
  background-color: #fff;
  max-width: 960px;
  width: calc(100vw - 80px - 260px);
  display: flex;
  flex-wrap: wrap;
  flex: 0 1 auto;
  padding-right: 30px;
}

div.person_v4.header_medium div.white_column {
  max-width: 920px;
  width: calc(100vw - 80px - 300px);
}

div.person_v4 div.white_column section {
  margin-top: 30px;
  width: 100%;
}

div.person_v4 div.white_column section:first-of-type {
  margin-top: 0;
}

div.person_v4 div.white_column section.credits {
  margin-top: 20px;
  position: relative;
  top: 0;
  left: 0;
}

div.grey_column {
  min-width: 260px;
  width: 260px;
  display: flex;
  flex-wrap: wrap;
}

div.person_v4.header_medium div.reverse div.grey_column {
  min-width: 300px;
  width: 300px;
}

div.person_v4.header_medium div.reverse div.grey_column div.profile div.image_content {
  border-radius: $imageBorderRadius;
  overflow: hidden;
}

div.grey_column div.column {
  width: 100%;
}

div.grey_column div.sidebar_panel {
  width: 100%;
}

div.reverse div.white_column {
  padding-right: 0;
  padding-left: 30px;
}

div.white_column.no_pad,
div.reverse div.white_column.no_pad {
  padding-left: 0;
  padding-right: 0;
}

div.reverse div.grey_column {
  padding-left: 0;
  padding-right: 0;
  justify-content: flex-end;
}

div.column_wrapper div.content_wrapper.false > * {
  width: 100%;
}

div.column_wrapper div.content_wrapper section.panel.pad {
  padding: 20px;
}

div.column_wrapper div.content_wrapper.false > section.panel {
  border-top: none;
  padding: 0;
}

.main_pad {
  padding-top: 30px;
  padding-bottom: 30px;
}

.main_pad_bottom {
  padding-bottom: 30px;
}

div.content_wrapper.full_width {
  width: 100%;
}

section.profile div.content_wrapper.full_width {
  position: absolute;
  top: 394px;
  left: 0;
  background-color: #fff;
}

div.content_wrapper.full_width.bottom_border {
  background-color: #fff;
  border-bottom: 1px solid rgba($lightGrey, 1);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

div.content_wrapper.full_width.bottom_border + div.content_wrapper {
  border-top: none;
}

div.content_wrapper.full_width.meta {
  background-color: #0a1526;
}

div.content_wrapper.full_width div.meta {
  margin: 0 auto;
  padding: 8px 0;
  color: #fff;
  box-sizing: border-box;
}

div.content_wrapper.full_width div.flex.meta {
  display: flex;
  justify-content: space-between;
}

div.content_wrapper.full_width div.flex.meta > div:nth-of-type(2) {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

div.content_wrapper div.main_column {
  width: 780px;
  padding-right: 40px;
}

section.split_column {
  padding-top: 4px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 300px;
}

section.split_column > div {
  width: 100%;
}

.no_bottom_pad {
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

.no_top_margin {
  margin-top: 0 !important;
}

section.split_column p.full_width.button {
  display: inline-block;
  position: relative;
  top: 0;
}

section.split_column p.full_width.button span.glyphicons_v2 {
  margin-right: 4px;
}

div#collection_waypoint ~ section.panel.recommendations {
  border-top: none;
}

div.scroller {
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

section.recommendations div.scroller div.item {
  display: inline-block;
  float: none;
}

section.recommendations div.scroller div.item a {
  font-weight: 400;
  font-size: 1em;
}

section.recommendations div.scroller div.item div.image_content a:hover {
  color: #000;
}

section.recommendations div.scroller div.item p {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}

section.recommendations div.scroller div.item p,
section.recommendations div.scroller div.item p a,
div.item p span.rating {
  color: #000;
}

section.recommendations div.scroller div.item span.release_date {
  font-size: 1em;
  display: inline-flex;
  align-items: center;
}

section.recommendations div.scroller div.item span.glyphicons_v2 {
  margin-right: 4px;
}

section.panel {
  width: 100%;
  display: block;
  padding: 30px 0;
  border-top: 1px solid #d7d7d7;
}

section.panel:first-of-type {
  border-top: none;
  padding-top: 0;
}

section.panel:last-of-type {
  padding-bottom: 0;
}

section.panel p:last-of-type {
  margin-bottom: 0;
}

section.panel .scroller + p {
  margin-top: 10px;
}

section.panel h2.flex {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
}

p.full_width.button {
  width: 100%;
  text-align: center;
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 1.1em;
}

div.header p.full_width.button {
  margin-top: 70px;
}

div.header_medium div.left_column p.full_width.button {
  text-align: left;
  font-size: 1em;
}

section.inner_content div.info p a {
  color: #000;
}

section.inner_content div.left_column a.edit {
  text-transform: uppercase;
  padding: 12px 22px;
  color: #000;
}

section.inner_content div.left_column a.edit:hover {
  color: #fff;
}

section.inner_content a.button,
a.button {
  color: #000;
  background-color: rgba($tmdbLightBlue, 1);
  border-color: rgba($tmdbLightBlue, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

section.inner_content a.button.white,
a.button.white {
  color: rgba($tmdbLightBlue, 1);
  background-color: #fff;
  border-color: #fff;
  font-weight: 600;
}

section.inner_content a.button:hover,
a.button:hover {
  color: rgba($tmdbLightBlue, 1);
  background-color: #000;
  border-color: #000;
}

section.inner_content a.button.upcase,
a.button.upcase {
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
}

section.inner_content a.button.rounded.upcase,
a.button.rounded.upcase {
  padding: 5px 10px;
}

section.inner_content a.button.upcase:hover,
a.button.upcase:hover {
  text-decoration: none;
}

p.full_width.button a.rounded {
  font-weight: 700;
  padding: 12px 22px;
}

p.new_button {
  margin: 20px 0 0 0;
  display: inline-block;
}

p.new_button a {
  font-weight: 600;
  font-size: 1.1em;
}

p.new_button.no_pad {
  margin-top: 0;
}

p.new_button.pad {
  margin-top: 30px;
  margin-bottom: 0;
}

p.new_button.rounded {
  background-color: rgba($tmdbLightBlue, 1);
  border-color: rgba($tmdbLightBlue, 1);
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  align-content: center;
  padding: 6px 20px;
  font-size: 0.9em;
}

p.new_button.rounded a {
  display: inline-flex;
  align-items: center;
  align-content: center;
  width: 100%;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

p.new_button.rounded a span {
  margin-right: 6px;
}

p.new_button.rounded:hover {
  background-color: #000;
  border-color: #000;
}

p.new_button.rounded a:hover {
  width: 100%;
  height: 100%;
}

p.new_button.rounded:hover a,
p.new_button.rounded:hover a:hover {
  color: #fff;
}

ol.people {
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
}

ol.people.mini {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

ol.people.scroller {
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  overflow-x: scroll;
  margin-left: -10px;
  margin-top: -10px;
}

ol.credits,
ul.credits {
  list-style-type: none;
  list-style-position: outside;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

ol.credits.show_more {
  margin-bottom: 0;
}

ul.credits:last-child {
  margin-bottom: 0;
}

ol.people.center {
  justify-content: center;
}

ol.people.no_image,
ol.people.no_cast {
  margin-top: 20px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

div.content_wrapper div.split {
  width: 50%;
}

div.content_wrapper ol.credits {
  width: 100%;
}

div.content_wrapper h4 {
  margin-top: 0;
  margin-bottom: 8px;
}

div.crew_wrapper + div {
  margin-top: 30px;
}

p.show_more {
  margin-top: 15px;
  margin-bottom: 40px;
}

ol.people li {
  min-width: 140px;
  width: 140px;
  background-color: #fff;
  margin-right: 10px;
}

ol.people.mini div.flex_row {
  display: flex;
  justify-content: flex-start;
}

ol.people li.pad {
  min-width: 50px;
  width: 50px;
}

ol.people li.view_more,
ol.people li.view_more p,
ol.people li.view_more a {
  display: flex;
  align-items: center;
  align-content: center;
  margin: 0;
  padding: 0;
}

ol.people li.view_more a span {
  margin-left: 4px;
  font-size: 1.1em;
}

ol.people li.card {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 4px;
  border: 1px solid rgba($lightGrey, 1);
  padding-bottom: 10px;
  border-radius: $imageBorderRadius;
  overflow: hidden;
}

ol.people.mini li.card {
  margin-bottom: 4px;
  padding-bottom: 0;
  margin-left: 0;
  margin-right: 14px;
  display: flex;
  width: calc((100vw - 136px) / 4);
  max-width: calc((1300px - 136px) / 4);
}

ol.people li.filler {
  margin-left: 10px;
  background-color: transparent;
}

ol.people li:last-of-type {
  margin-right: 0;
}

div.header.large.first ol.people li {
  background-color: transparent;
  height: auto;
  margin-bottom: 0;
}

ol.credits li,
ul.credits li {
  width: 100%;
  flex: 0 0 auto;
  text-align: left;
  margin-top: 10px;
  margin-right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

ol.credits li:first-child,
ul.credits li:first-child {
  margin-top: 0;
}

ol + ol.credits li:first-child {
  margin-top: 10px;
}

ol.credits li > div,
ul.credits li > div {
  display: flex;
  align-items: center;
  align-content: center;
  min-height: 68px;
}

div.regular_cast {
  margin-bottom: 40px;
}

div.regular_cast ol.people.credits li {
  width: 50%;
  margin: 0;
  margin-bottom: 10px;
}

ol.people.no_image li {
  width: 33%;
  flex-basis: 33%;
  text-align: left;
  margin-bottom: 14px;
  margin-right: 0;
  box-sizing: border-box;
  padding-right: 20px;
}

ol.people.no_image li:nth-child(3n + 0) {
  padding-right: 0;
}

ol.people.no_image li:nth-child(n + 4) p:first-child {
  padding-top: 20px;
}

ol.people li.no_cast,
ol.people.no_image li.no_cast {
  width: 100%;
  flex-basis: 100%;
  height: auto;
  text-align: left;
  overflow: visible;
}

ol.people li > a {
  min-width: 138px;
  width: 138px;
  height: 175px;
  display: block;
}

ol.people.mini li > a {
  min-width: 60px;
  width: 60px;
  height: 60px;
  display: inline-block;
}

ol.people.credits li > a {
  min-width: 68px;
  width: 68px;
  height: 68px;
  margin-bottom: 0;
}

ol.people.credits li div.info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 14px;
  padding-right: 20px;
  width: 100%;
}

ol.people.credits li div.info p {
  width: 100%;
  white-space: normal;
  overflow: visible;
  text-overflow: clip;
}

div.credits div.split:nth-child(even) {
  padding-left: 10px;
}

div.credits div.split:nth-child(odd) {
  padding-right: 10px;
}

section.header ol.people li p {
  padding: 0;
}

ol.people li p {
  font-size: 1em;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

section.panel ol.people li p {
  padding: 0 10px;
}

section.panel ol.people li a + p {
  padding-top: 10px;
}

section.panel ol.people.mini li p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 14px;
}

section.panel ol.people li div {
  width: auto;
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

section.panel ol.people li.no_cast p {
  white-space: normal;
  overflow: visible;
  padding: 0;
}

ol.people li p a {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

ol.people li p span a,
ol.people li p.character a,
ol.people li p.episode_count_crew a {
  font-weight: 400;
}

ol.people li p.character {
  font-size: 0.9em;
}

ol.people li p.episode_count {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}

ol.people li p.episode_count_crew {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 1);
}

ol.people.credits li div.info p span {
  color: rgba(0, 0, 0, 0.5);
}

div.expanded_info ol.people li {
  width: 50%;
  margin: 0 0 10px 0;
}

span.initials {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

span.round.initials {
  border-radius: 50%;
}

ol.people li span.initials {
  width: 100%;
  height: 100%;
  font-size: 2.4em;
}

ol.people.credits li span.initials {
  width: 66px;
  height: 66px;
  font-size: 1.4em;
  border-width: 1px;
}

ol.people li img {
  width: 100%;
  height: 100%;
}

ol.people.credits li img {
  width: 66px;
  height: 66px;
  border-radius: 4px;
}

section.panel h3 {
  font-weight: 600;
  font-size: 1.4em;
  margin-bottom: 20px;
}

section.panel div.flex.menu {
  display: flex;
  justify-content: space-between;
}

section.panel div.flex h3 {
  display: inline-block;
}

section.media_panel div.menu {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  align-items: baseline;
}

section.media_panel div.menu h3 {
  display: inline-block;
  margin-right: 50px;
}

section.media_panel p {
  font-size: 1em;
}

section.media_panel div.menu ul {
  width: 100%;
  box-sizing: border-box;
}

section.media_panel div.menu ul li {
  display: inline-block;
  margin-right: 24px;
  padding-bottom: 5px;
  font-size: 1.1em;
  box-sizing: border-box;
}

section.media_panel div.menu ul li:last-child {
  margin-right: 0;
}

section.media_panel div.menu ul li.view_all {
  font-size: 0.9em;
  float: right;
}

section.media_panel div.menu ul li.view_all a {
  color: rgba($tmdbLightBlue, 1);
}

section.media_panel div.menu ul li.active {
  border-bottom: 4px solid rgba($tmdbLightBlue, 1);
}

section.media_panel div.menu ul li a {
  color: #000;
  font-weight: 600;
}

section.media_panel div.menu ul li.active a {
  color: rgba($tmdbLightBlue, 1);
}

section.media_panel div.menu ul li a span,
section.inner_content h3 span {
  display: inline-flex;
  align-items: center;
  font-weight: 400;
  opacity: 0.6;
}

section.inner_content h3 span.glyphicons_v2 {
  opacity: 0.4;
}

section.inner_content h3 span.moderator.glyphicons_v2:hover {
  opacity: 1;
}

section.media_panel div.menu ul li a span {
  font-weight: 600;
}

section.media_panel div.h_scroller {
  display: flex;
  height: 300px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  font-size: 0;
  -webkit-overflow-scrolling: touch;
}

section.media_panel div.content div.original_content {
  width: 100%;
}

section.media_panel div.content {
  display: flex;
  width: 100%;
  border-radius: $imageBorderRadius;
}

section.media_panel div.content a.rounded {
  display: inline-block;
  margin-top: 30px;
  font-weight: bold;
}

section.media_panel div.content.mini {
  margin-top: 0;
  height: auto;
  font-size: 1.2em;
}

section.media_panel div.content.mini div {
  display: block;
}

section.media_panel div.content.mini div ul {
  display: flex;
  flex-wrap: wrap;
}

section.media_panel div.content.mini div ul li {
  box-sizing: border-box;
  margin-right: 30px;
}

section.media_panel div.content.mini div ul li span.flex {
  display: flex;
  align-items: center;
  align-content: center;
}

section.media_panel div.content.mini div ul li span.glyphicons_v2 {
  margin-right: 8px;
}

section.media_panel div.content.mini div ul li a.edit {
  margin-top: 0;
}

section.media_panel div.content div.poster,
section.media_panel div.content div.poster.view_more div.link {
  width: 200px;
  height: 300px;
}

section.media_panel div.content div.wrapper,
section.media_panel div.content div.video,
section.media_panel div.content div.backdrop,
section.media_panel div.content div.video iframe,
section.media_panel div.content div.video.view_more div.link,
section.media_panel div.content div.backdrop.view_more div.link {
  width: 533px;
  height: 300px;
}

section.media_panel div.content div.video div.wrapper {
  width: 533px;
  height: 300px;
}

section.media_panel div.content div.poster img {
  width: 200px;
  height: 300px;
}

section.media_panel div.content div.backdrop img {
  width: 533px;
  min-width: 533px;
  height: 300px;
  min-height: 300px;
}

section.media_panel div.content div.view_more {
  margin-left: 20px;
}

section.media_panel div.content div.view_more div.link {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
}

section.media_panel div.content div.view_more div.link a {
  display: inline-flex;
  align-items: center;
  font-size: 1.3rem;
}

section.media_panel div.content div.view_more div.link p {
  padding-left: 4px;
  margin: 0;
}

section.media_panel div.content div.view_more div.link p span {
  margin-left: 4px;
  font-size: 1.2em;
}

section.review span.initials {
  width: 64px;
  height: 64px;
  font-size: 28px;
  color: #fff;
}

section.review img.avatar {
  width: 64px;
  height: 64px;
  display: block;
}

section.review div.review_container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

section.review div.review_container div.card {
  padding: 20px;
  border: 1px solid rgba($lightGrey, 1);
  border-radius: $imageBorderRadius;
}

section.review div.review_container.zero {
  margin-top: 0;
}

section.review div.review_container.hide {
  display: none;
}

section.review div.review_container div.content div.inner_content {
  width: 100%;
}

section.review div.review_container div.content:nth-child(n + 2) {
  margin-top: 40px;
}

div.header_medium section.review div.review_container {
  flex-wrap: wrap;
}

div.header_medium section.review div.review_container div.content {
  width: 100%;
  margin-bottom: 40px;
}

section.review div.review_container div.content.zero {
  width: 100%;
}

section.review div.review_container div.content div.teaser p:last-child {
  margin-bottom: 0;
}

section.tv_panel section.review div.review_container div.image {
  display: none;
}

section.review div.review_container div.grouped {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
}

section.review div.review_container div.avatar {
  width: 64px;
  margin-right: 20px;
}

section.review div.review_container div.avatar a {
  display: block;
}

section.review div.review_container div.info {
  width: 100%;
}

section.review div.review_container div.content div.card h5 a {
  color: #000;
}

section.review div.review_container div.teaser:before {
  clear: both;
  content: '';
  display: block;
}

section.review div.review_container div.inner_content div.teaser {
  padding-left: 84px;
  padding-top: 20px;
  box-sizing: border-box;
}

div.header_medium section.review div.review_container div.inner_content div.teaser {
  padding-right: 0;
}

section.review div.review_container div.inner_content h3 {
  display: inline-block;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 1.3em;
  font-weight: 700;
}

section.review div.review_container div.inner_content h3 a {
  font-weight: 700;
}

section.review div.review_container div.inner_content h4 {
  font-weight: 300;
  font-size: 1.1em;
  margin-bottom: 8px;
}

section.review div.review_container div.inner_content h5 {
  font-weight: 300;
  font-size: 0.9em;
  margin-bottom: 0;
}

section.review div.review_container div.inner_content div.rating_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: flex-start;
}

section.review div.review_container div.inner_content div.rating {
  padding: 1px 8px;
  margin-left: 14px;
  font-size: 0.9em;
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #000;
  border-color: #000;
  border-radius: $imageBorderRadius;
  color: #fff;
}

section.review div.review_container div.inner_content div.rating span {
  margin-right: 2px;
}

section.review div.review_container div.inner_content a.rounded span {
  opacity: 0.6;
  padding-left: 2px;
}

section.review div.review_container div.teaser ul,
section.review div.review_container div.teaser ol {
  margin-left: 20px;
}

section.review div.review_container div.teaser ul {
  list-style-type: square;
}

section.review div.review_container div.teaser ol {
  list-style-type: decimal;
}

section.review div.review_container div.teaser ul li,
section.review div.review_container div.teaser ol li {
  margin-bottom: 10px;
}

section.review div.review_container div.teaser ul li:last-child {
  margin-bottom: 0;
}

section.leaderboard {
  margin-bottom: 30px;
}

section.split_column h4 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 10px;
}

section.leaderboard div.leaders {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

section.leaderboard div.leaders > p {
  width: 100%;
  margin-bottom: 0;
}

section.leaderboard div.leaders div.edit_leader {
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

section.leaderboard div.edit_leader div.avatar {
  width: 45px;
  height: 45px;
}

section.leaderboard div.edit_leader div.avatar a {
  display: inline-block;
  width: 45px;
  height: 45px;
}

section.leaderboard div.edit_leader div.avatar img {
  width: 100%;
  height: 100%;
}

section.leaderboard div.edit_leader div.info {
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

section.leaderboard div.edit_leader div.info p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-weight: 600;
}

section.leaderboard div.edit_leader div.info p a {
  font-weight: 300;
}

section.leaderboard div.edit_leader span.initials {
  width: 45px;
  height: 45px;
  color: rgba($tmdbLightBlue, 1);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2em;
  font-weight: 400;
  border: none;
}

section.leaderboard p {
  font-size: 1em;
}

section.leaderboard p.view_full {
  margin-bottom: 0;
  text-align: center;
}

section.leaderboard p.view_full a {
  font-size: 0.9em;
}

section.facts p {
  box-sizing: border-box;
}

section.facts p.aka {
  padding-top: 0;
  margin: 0;
}

section.facts p.wrap {
  white-space: normal;
}

section.facts p img {
  vertical-align: middle;
  margin-bottom: 2px;
}

section.facts ul.releases {
  margin-bottom: 20px;
}

section.facts ul.networks {
  margin-bottom: 20px;
}

section.facts ul.networks li {
  display: flex;
  margin: 0;
  font-size: 1.2em;
}

section.facts ul.networks li + li {
  margin-top: 8px;
}

section.facts ul.networks li a {
  display: block;
  font-weight: 600;
}

section.facts ul.networks li img {
  display: block;
  vertical-align: baseline;
  padding: 0;
  margin: 0;
}

section.content_score div.content_score {
  width: 100%;
  height: 38px;
  background: rgba(7, 198, 88, 0.6);
  border-radius: $imageBorderRadius;
}

section.content_score div.content_score div {
  display: flex;
  align-items: center;
  background: rgba(7, 198, 88, 1);
  height: 100%;
  overflow: visible;
  border-radius: $imageBorderRadius;
}

section.content_score div.content_score div.true {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

section.content_score p {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  white-space: nowrap;
  box-sizing: border-box;
}

section.content_score p span {
  width: 100%;
}

section.content_score div.content_score div p {
  color: #fff;
  font-weight: bold;
  font-size: 1em;
  padding: 0 0 0 12px;
}

div#popularity_waypoint {
  width: 222px;
  height: 45px;
}

div#popularity_chart {
  left: -13px;
  width: 203px;
  height: 50px;
}

.k-tooltip table tbody tr th {
  background-color: transparent;
}

.k-tooltip table {
  margin: 0;
}

section.facts p.true {
  margin-bottom: 0;
}

section.facts ul {
  margin: 0;
}

section.facts ul li {
  width: 100%;
  margin-bottom: 0;
  display: inline-flex;
  align-content: center;
  align-items: center;
}

section.facts ul li + li {
  margin-top: 8px;
}

section.facts ul li img {
  margin-right: 4px;
}

section.facts ul li div.certification {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
}

section.facts ul li div.certification.tv {
  padding-left: 0;
  display: inline-block;
}

section.facts ul li div.certification > div {
  display: inline-flex;
  align-items: center;
  color: #fff;
  padding: 2px 0;
  font-weight: 600;
  margin-right: 4px;
}

section.facts ul li div.certification span {
  border-radius: 2px;
  font-size: 12px;
  padding: 2px 5px;
  background-color: rgba($tmdbDarkBlue, 1);
}

div.certification_tooltip {
  padding: 8px 16px;
}

div.certification_tooltip h3 {
  font-weight: 600;
}

div.certification_tooltip p {
  margin-bottom: 0;
}

section.genres ul,
section.keywords ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

section.keywords ul {
  padding-bottom: 30px;
}

section.genres ul li,
section.keywords ul li {
  margin-right: 5px;
  margin-bottom: 10px;
  line-height: 24px;
  font-size: 0.9em;
  box-sizing: border-box;
  white-space: nowrap;
}

section.genres ul li a.rounded,
section.keywords ul li a.rounded {
  padding: 4px 9px;
  font-size: 0.9em;
}

section.split_column section {
  margin-bottom: 30px;
  width: 100%;
}

section.split_column section:last-of-type {
  margin-bottom: 0;
}

section.split_column section.genres ul li a {
  text-transform: uppercase;
}

section.split_column section.genres ul li a,
section.split_column section.keywords ul li a {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #d7d7d7;
  color: #000;
  padding: 4px 10px;
  border-radius: 4px;
}

section.split_column section.keywords {
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 30px;
}

section.split_column section.keywords p {
  padding-bottom: 20px;
}

section.split_column div.pad {
  padding-bottom: 30px;
}

div.header.large.first {
  width: 100%;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid rgba($lightGrey, 1);
}

section.person_content div.header.large.first {
  border-bottom: none;
}

div.header.large.season {
  height: 390px;
  box-sizing: border-box;
}

div.header.large.review {
  overflow: hidden;
}

div.header.large.season div.single_column {
  overflow: visible;
}

div.header.large.season section.season {
  position: relative;
  top: 0;
  left: 0;
  height: 280px;
}

div.header.large.season section.season img {
  position: relative;
  top: -80px;
  left: 0;
}

div.header.large.season section.season div.content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 350px;
  width: 650px;
  height: 100%;
  box-sizing: border-box;
}

div.header.large.season section.season div.content h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.8em;
  font-weight: 700;
}

div.header.large.season section.season div.content h2 a {
  font-weight: inherit;
}

div.header.large.season section.season div.content h4 {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 1.1em;
}

div.header.large.season section.season div.content p.button {
  margin-top: 30px;
  margin-bottom: 0;
  text-transform: uppercase;
}

div.header.large.season section.season div.content p.button a {
  font-weight: 600;
}

div.header.large.season section.season div.content div.season_overview {
  max-height: 100px;
  overflow: hidden;
}

div.header.large.season section.season div.content div.season_overview p {
  margin-bottom: 30px;
}

div.header.large.season section.season div.content div.season_overview p:last-child {
  margin-bottom: 0;
}

div.header.large.season section.season div.content div.season_list h3 {
  display: inline-block;
}

div.header.large.season section.season div.content div.season_list ul {
  float: right;
  width: auto;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

div.header.large.season section.season div.content div.season_list ul li {
  padding-left: 20px;
  font-size: 1.3em;
}

div.season.card {
  border: 1px solid rgba($lightGrey, 1);
  border-radius: $imageBorderRadius;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

div.season.card div.flex {
  display: flex;
}

div.season.card a.poster {
  display: block;
  min-width: 130px;
  width: 130px;
  height: 195px;
}

div.season.card div.flex img {
  width: 100%;
  height: 100%;
}

div.season.card div.content {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

div.season.card h2 {
  margin-bottom: 0;
}

div.season.card div.season_overview {
  padding-top: 20px;
}

div.season.card div.season_overview p {
  line-height: 1.4;
}

div.season.card div.season_overview p:last-of-type {
  margin-bottom: 0;
}

div.season_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #d7d7d7;
  padding: 20px 0;
}

div.season_wrapper section.panel {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

div.season_wrapper section.panel div.season {
  max-width: 1300px;
  width: 100%;
  display: flex;
  padding: 0 40px;
}

div.season.card > a,
div.season_wrapper section.panel div.season > a {
  border-radius: $imageBorderRadius;
  overflow: hidden;
  display: block;
  width: 100px;
  min-width: 100px;
  height: 150px;
}

div.season.card > a img,
div.season_wrapper section.panel div.season > a img {
  width: 100%;
  height: 100%;
}

div.season.card > a img {
  border-radius: 0;
}

div.season_wrapper section.panel div.season div.content {
  padding-left: 30px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

div.season_wrapper.groups:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

div.season_wrapper.groups.no_hover:hover {
  background-color: transparent;
}

div.season_wrapper.groups.no_hover,
div.season_wrapper.groups.no_hover:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

div.season_wrapper.groups section.panel div.season div.content {
  width: 100%;
  padding-left: 0;
}

div.season_wrapper.groups section.panel div.season div.content.title {
  display: block;
}

div.season_wrapper.groups section.panel h2 {
  font-size: 1.2em;
  margin-bottom: 0;
}

div.season_wrapper.groups section.panel h3 {
  margin-bottom: 0;
  font-size: 1.1em;
  font-weight: 300;
}

div.season_wrapper.groups section.panel p {
  margin-top: 10px;
  padding: 0;
}

div.season_wrapper section.panel div.season div.content h2,
div.season_wrapper section.panel div.season div.content h4 {
  display: inline-block;
}

div.season_wrapper section.panel div.season div.content h2 {
  padding-right: 8px;
}

div.season_wrapper section.panel div.season div.content h2 a {
  font-weight: 700;
}

div.season_wrapper.groups section.panel div.season div.content h2 a {
  font-weight: 600;
}

div.season_wrapper.groups section.panel div.season div.content h2 a span {
  opacity: 0.5;
  font-weight: 400;
}

div.season_wrapper section.panel div.season div.content h4 {
  font-weight: 600;
}

div.season_wrapper.groups section.panel div.season div.content h4 {
  display: block;
  font-weight: 400;
}

div.season_wrapper section.panel div.season div.content div.season_overview p:last-child {
  margin-bottom: 0;
}

section.main_column h4.department:first-child {
  margin-top: 0;
  margin-bottom: 0;
}

section.main_column h4.department {
  margin-top: 40px;
  margin-bottom: 0;
}

section.panel.user_images p {
  margin-left: 30px;
}

section.panel.user_images ul.images {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
}

section.inner_content ul.images li.card div.image_content img {
  width: 100%;
  height: 100%;
}

section.inner_content ul.images.backdrops li.card div.image_content,
section.inner_content ul.images.backdrops li.card div.info {
  display: block;
}

section.inner_content ul.images.backdrops li.card div.info {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
}

section.inner_content ul.images li.card div.image_content {
  position: relative;
  top: 0;
  left: 0;
  z-inex: 0;
}

section.inner_content ul.images.posters div.info div.rating_info {
  margin-top: 20px;
  margin-bottom: 0;
}

section.inner_content ul.images.posters li.compact.empty {
  margin-top: 0;
}

section.inner_content ul.images.posters li.compact {
  margin-top: 30px;
}

section.inner_content ul.images.posters.compact li.card div.image_content {
  min-width: 170px;
  min-height: calc(170px * 1.5);

  /* 30px (margin) + 2px (border) */
  width: calc(100vw - 80px - 260px - 32px);
  height: calc((100vw - 80px - 260px - 32) * 1.5);
}

@media only screen and (min-width: 750px) {
  section.inner_content ul.images.posters.compact li.card div.image_content {
    width: calc((100vw - 80px - 260px - 64px) / 2);
    height: calc(((100vw - 80px - 260px - 64px) / 2) * 1.5);
  }

  section.inner_content ul.images.posters.compact li.card div.info {
    width: calc((100vw - 80px - 260px - 64px) / 2);
  }
}

@media only screen and (min-width: 950px) {
  section.inner_content ul.images.posters.compact li.card div.image_content {
    width: calc((100vw - 80px - 260px - 96px) / 3);
    height: calc(((100vw - 80px - 260px - 96px) / 3) * 1.5);
  }

  section.inner_content ul.images.posters.compact li.card div.info {
    width: calc((100vw - 80px - 260px - 96px) / 3);
  }
}

@media only screen and (min-width: 1140px) {
  section.inner_content ul.images.posters.compact li.card div.image_content {
    width: calc((100vw - 80px - 260px - 128px) / 4);
    height: calc(((100vw - 80px - 260px - 128px) / 4) * 1.5);

    max-width: 208px;
    max-height: calc(208px * 1.5);
  }

  section.inner_content ul.images.posters.compact li.card div.info {
    width: calc((100vw - 80px - 260px - 128px) / 4);
    max-width: 208px;
  }
}

section.inner_content ul.images.compact li.card div.info h3,
section.inner_content ul.images.compact li.card div.info form {
  padding-left: 14px;
  padding-right: 14px;
}

section.inner_content ul.images.compact li.card div.image_content div.rating_info {
  transition: opacity 0.2s;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  margin-top: 0;
  padding: 14px 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  font-size: 1.3em;
}

section.inner_content ul.images.compact li.card div.image_content:hover div.rating_info {
  visibility: visible;
  opacity: 1;
}

section.inner_content ul.images.compact li.card div.image_content div.rating_info a {
  width: auto;
}

section.inner_content ul.images.compact li.card div.image_content div.rating_info a:first-child {
  float: right;
}

section.inner_content ul.images.posters div.info div.meta {
  position: static;
  bottom: 0;
  padding-bottom: 14px;
  padding-top: 14px;
}

section.inner_content ul.images div.info div.meta p {
  margin-left: 0;
}

div.button_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

div.button_wrapper span.buttons {
  margin-right: 6px;
}

a.lock_all {
  display: inline-flex;
}

a.lock_all span {
  opacity: 0.4;
}

a.lock_all span:hover {
  opacity: 1;
}

section.inner_content ul.images li.card {
  border: 1px solid rgba($lightGrey, 1);
  border-radius: $imageBorderRadius;
  overflow: hidden;
  margin-left: 30px;
}

section.inner_content ul.images li.card .kendo_dropdown {
  font-size: 1.1em;
}

section.inner_content ul.images li.filler {
  flex: 1 1 auto;
}

section.inner_content ul.images.backdrops li.compact {
  min-width: 250px;
  width: auto;
  margin-top: 30px;
  flex: 0 1 auto;
}

section.inner_content ul.images.backdrops li.card div.image_content {
  min-width: 250px;
  min-height: calc(250px / 1.78);

  /* 30px (margin) + 2px (border) */
  width: calc(100vw - 80px - 260px - 32px);
  height: calc((100vw - 80px - 260px - 32px) / 1.78);
}

section.inner_content ul.images.backdrops li.card div.info {
  width: calc(100vw - 80px - 260px - 32px);
}

@media only screen and (min-width: 910px) {
  section.inner_content ul.images.backdrops.compact li.card div.image_content {
    width: calc((100vw - 80px - 260px - 64px) / 2);
    height: calc(((100vw - 80px - 260px - 64px) / 2) / 1.78);
  }

  section.inner_content ul.images.backdrops.compact li.card div.info {
    width: calc((100vw - 80px - 260px - 64px) / 2);
  }
}

@media only screen and (min-width: 1200px) {
  section.inner_content ul.images.backdrops.compact li.card div.image_content {
    width: calc((100vw - 80px - 260px - 96px) / 3);
    height: calc(((100vw - 80px - 260px - 96px) / 3) / 1.78);

    max-width: 288px;
    max-height: calc(288px / 1.78);
  }

  section.inner_content ul.images.backdrops.compact li.card div.info {
    width: calc((100vw - 80px - 260px - 96px) / 3);
    max-width: 288px;
  }
}

a.rounded ~ ul.nav {
  margin-top: 50px;
}

section.inner_content h3.breadcrumb {
  margin-bottom: 40px;
}

section.inner_content h3.breadcrumb a {
  color: #000;
}

section.inner_content h3.breadcrumb a.edit {
  font-size: 0.7em;
  margin-top: 0;
  font-weight: bold;
}

div.content_wrapper div.leaderboard {
  width: 100%;
}

div.leaderboard {
  padding-bottom: 20px;
  text-align: center;
  margin-bottom: 40px;
}

div.leaderboard.card {
  border: 1px solid rgba($lightGrey, 1);
  border-radius: $imageBorderRadius;
}

div.leaderboard div.histogram {
  overflow-x: scroll;
  margin: 20px 0;
  border-bottom: 1px solid #d6d5d6;
  display: flex;
}

div.leaderboard div.histogram ol {
  box-sizing: border-box;
  padding: 0 20px;
  margin: auto;
  list-style-type: none;
  display: flex;
  align-items: flex-end;
}

div.leaderboard div.histogram ol li {
  width: 100px;
  padding: 0 6px;
}

div.leaderboard div.histogram ol li:first-child {
  padding-left: 0;
}

div.leaderboard div.histogram ol li:last-child {
  padding-right: 20px;
}

div.leaderboard div.histogram div.avatar {
  height: 55px;
}

div.leaderboard div.histogram div.avatar a {
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
}

div.leaderboard div.histogram div.avatar img,
div.leaderboard div.histogram span.initials {
  width: 100%;
  height: 100%;
}

div.leaderboard div.histogram span.initials {
  font-size: 1.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-weight: 400;
  border: none;
}

div.leaderboard div.histogram p {
  font-size: 0.9em;
  margin: 0 0 10px 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.leaderboard div.histogram p a {
  color: #000;
}

div.leaderboard div.histogram div.bar {
  display: inline-block;
  width: 40px;
  position: relative;
  top: 0;
  left: 0;
}

div.leaderboard div.histogram div.bar span {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  text-align: center;
  background-color: rgba($tmdbLightBlue, 1);
  color: #fff;
  padding-top: 10px;
}

section.panel.video {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

div.video {
  width: 100%;
}

div.video.card {
  border: 1px solid rgba($lightGrey, 1);
  border-radius: $imageBorderRadius;
  display: flex;
  align-items: flex-start;
  height: auto;
}

div.video.card.default {
  height: 197px;
  overflow: hidden;
}

div.video.card + div.video.card {
  margin-top: 30px;
}

div.video.card.no_border,
div.video.card.no_border + div.card {
  border: none;
  margin-top: 0;
}

div.video.card div.wrapper {
  overflow: hidden;
  min-width: 350px;
  width: 350px;
  height: 197px;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.video.card.no_border div.wrapper {
  min-width: 0;
  width: 100%;
  height: 100%;
}

div.video.card div.wrapper div.play_background {
  width: 67px;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
}

div.video.card div.wrapper div.play_background:hover span.glyphicons_v2 {
  opacity: 0.6;
}

div.video.card div.wrapper div.play_background span.glyphicons_v2 {
  width: 50%;
  height: 50%;
  left: 1px;
  transition: opacity 200ms linear;
}

div.video.card div.wrapper a.play_trailer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.video.card div.iframe {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

div.video.card div.iframe iframe {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

div.video.card div.info {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-between;
  border-left: 1px solid rgba($lightGrey, 1);
  color: #000;
}

div.video.card div.info div {
  width: 100%;
  padding: 16px;
}

div.video.card div.info div:first-of-type {
  padding: 10px 16px 10px 16px;
  position: relative;
}

div.video.card div.info div.bg {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.03);
}

div.video.card div.info div:last-of-type {
  border-top: 1px solid rgba($lightGrey, 1);
  padding: 10px 16px 10px 16px;
}

div.video.card div.info div.bg img {
  margin-right: 6px;
}

div.video.card div.info div h2 {
  font-size: 1.1em;
  margin-bottom: 0 !important;
  padding-right: 30px;
}

div.video.card div.info div.bg h2 {
  font-size: 1em;
  padding: 0;
}

div.video.card div.info div h2 span {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 0px 4px 1px 4px;
  font-size: 0.9em;
  font-weight: 400;
}

div.video.card div.info div span.restricted_region {
  margin-top: 4px;
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 1px 3px;
  box-sizing: border-box;
}

div.video.card div.info div span.restricted_region:before {
  display: block;
  position: absolute;
  top: 0;
  left: 46%;
  content: '\02044';
  font-size: 1.9em;
}

div.video.card div.info div h3.show_name {
  width: 100%;
  font-size: 0.9em;
  display: block;
}

div.video.card div.info h3:first-of-type {
  font-size: 1.2em;
}

div.video.card div.info h3 {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 0;
  white-space: normal;
}

div.video.card div.info h3.sub {
  font-size: 0.9em;
  font-weight: 400;
  margin-top: 4px;
}

div.video.card div.info h3 span {
  color: #666;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0 5px;
  border-radius: 4px;
  font-size: 0.8em;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  margin-right: 4px;
}

div.video.card div.info h4 {
  font-size: 1.1em;
  display: inline-flex;
  align-items: center;
  margin-bottom: 0;
  margin-top: 0;
}

div.video.card div.info h4 a {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.9em;
}

div.video.card div.info h4 span {
  margin-left: 4px;
  opacity: 0.6;
}

div.video.card div.info p {
  font-size: 0.9em;
  margin: 0;
}

div.video.card div.info p.tags {
  white-space: normal;
  overflow: visible;
}

div.video.card.default div.info p.tags {
  white-space: normal;
  max-height: 2.8em;
  overflow: hidden;
}

div.video.card div.info p.tags span.read_more {
  visibility: hidden;
}

div.video.card div.info p.tags.ddd-truncated span.read_more {
  visibility: visible;
}

div.video.card div.info p span,
div.video.card div.info p.tags.ddd-truncated span.read_more a {
  font-weight: 600;
}

div.video.card div.info p:last-of-type {
  margin: 0;
}

div.video.card div.info p.report {
  position: absolute;
  bottom: 16px;
  left: 20px;
  margin: 0;
  padding: 0;
}

div.column p.login {
  margin: 50px 0 50px 0;
  color: #666;
  overflow: visible;
}

section.inner_content div.header_medium p.login a {
  color: #666;
}

section.inner_content div.header_medium p.login a:hover {
  color: #666;
}

div.header_info {
  width: 100%;
}

section.inner_content ul.shortcut_bar,
div.person_v4 section.main_column ul.shortcut_bar,
section.inner_content.person_content ul.shortcut_bar,
div.episode ul.episode_shortcut_bar {
  /*width: 1000px;*/
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  box-sizing: border-box;
}

div.episode ul.episode_shortcut_bar {
  width: 100%;
  border-top: 1px solid rgba($lightGrey, 1);
  padding: 10px 20px 12px 20px;
}

section.inner_content.person_content div.header_small ul.shortcut_bar {
  padding-left: 0;
}

div.header.medium div.pad + ul.shortcut_bar {
  margin-top: 30px;
}

section.inner_content ul.shortcut_bar li,
div.person_v4 section.main_column ul.shortcut_bar li,
div.episode ul.episode_shortcut_bar li {
  box-sizing: border-box;
  display: inline-flex;
  align-items: stretch;
  align-content: center;
  position: relative;
}

div.person_v4 section.main_column ul.shortcut_bar li {
  padding-top: 0;
}

section.inner_content ul.shortcut_bar li {
  font-size: 1em;
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  align-items: center;
  align-content: center;
}

section.inner_content ul.shortcut_bar li.no_hover:hover {
  border-bottom: 5px solid #fff;
}

div.episode ul.episode_shortcut_bar li {
  font-size: 0.9em;
}

section.inner_content ul.shortcut_bar li.selected,
section.inner_content ul.shortcut_bar li:hover {
  border-bottom: 5px solid #acacac;
  padding-bottom: 13px;
}

section.inner_content ul.shortcut_bar div {
  display: flex;
}

section.inner_content ul.shortcut_bar div li {
  margin: 0 20px;
  position: relative;
  top: 0;
  left: 0;
}

section.inner_content ul.shortcut_bar div li:first-child {
  margin-left: 0;
  margin-right: 0;
}

section.inner_content ul.shortcut_bar div li:last-child {
  margin-right: 0;
}

section.inner_content ul.shortcut_bar li.selected a,
div.episode ul.episode_shortcut_bar li a:hover {
  color: #000;
}

section.inner_content ul.shortcut_bar li a,
div.episode ul.episode_shortcut_bar li a {
  color: #a3a3a3;
  font-size: 1.1em;
  font-weight: 600;
}

section.inner_content ul.shortcut_bar li:hover,
section.inner_content ul.shortcut_bar li:hover a {
  color: rgba(0, 0, 0, 0.5);
}

section.inner_content ul.shortcut_bar li a {
  color: #000;
}

section.inner_content ul.shortcut_bar li a:hover {
  color: inherit;
}

section.inner_content ul.shortcut_bar li.open a {
  color: #fff;
}

section.inner_content div.inner_sub_menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: auto;
  display: none;
}

section.inner_content div.inner_sub_menu.visible {
  display: block;
}

section.inner_content div.inner_sub_menu ul {
  position: relative;
  top: 0;
  left: 0;
}

section.inner_content div.inner_sub_menu ul li {
  position: relative;
  top: 0;
  left: 0;
  white-space: nowrap;
  padding: 14px 40px 14px 20px;
  border-bottom: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  border-right: 1px solid #d7d7d7;
  background-color: #fff;
}

section.inner_content div.inner_sub_menu ul li a {
  font-weight: 600;
}

section.inner_content div.inner_sub_menu ul li a span {
  color: #666;
}

section.inner_content div.inner_sub_menu ul li.primary {
  padding: 0;
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid #d7d7d7;
  background-color: transparent;
  display: flex;
  align-items: center;
  align-content: center;
}

section.inner_content div.inner_sub_menu ul li.primary a {
  font-size: 1.1em;
  font-weight: 600;
}

section.inner_content div.inner_sub_menu ul li.primary a,
section.inner_content div.inner_sub_menu ul li.primary a:hover {
  color: rgba(0, 0, 0, 0.5);
}

div.episode_list {
  width: 100%;
}

div.episode_list div.card {
  width: 100%;
  border: 1px solid rgba($lightGrey, 1);
  border-radius: $imageBorderRadius;
  overflow: hidden;
}

div.episode_list div.card:nth-child(n + 2) {
  margin-top: 40px;
}

div.episode_navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

div.episode_navigation div {
  display: inline-flex;
  align-items: center;
  align-content: center;
}

div.episode_navigation div a {
  display: inline-flex;
  justify-content: flex-start;
}

div.episode_navigation div span.glyphicons_v2 {
  font-size: 1.4em;
}

div.episode_navigation div:first-of-type span.glyphicons_v2 {
  margin-right: 6px;
}

div.episode_navigation div:last-of-type span.glyphicons_v2 {
  margin-left: 6px;
}

p.back_to_top {
  margin: 20px 0 0 0;
  text-align: right;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;
  width: 100%;
}

p.back_to_top span.glyphicons_v2 {
  top: 3px;
  margin-left: 3px;
}

div.episode {
  display: flex;
  flex-wrap: wrap;
}

div.episode.closed div.info > div {
  width: 100%;
}

div.episode > div.wrapper {
  display: flex;
  width: 100%;
}

div.episode div.image {
  width: 227px;
  height: 127px;
}

div.episode div.image img {
  width: 227px;
  height: 127px;
}

div.episode div.image img.placeholder {
  border: none;
}

div.episode.opened div.info div.rating_wrapper {
  display: block;
}

div.episode.closed div.info div.rounded.rating {
  display: none;
}

div.episode div.info div.rounded.rating {
  padding: 0;
  display: inline-flex;
  padding-right: 10px;
}

div.episode.opened div.info div.rounded.rating div {
  display: inline-flex;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 3px 10px;
  font-size: 0.9em;
  font-weight: 600;
  border-radius: 12px;
}

div.episode.opened div.info div.rounded.rating.true:hover {
  cursor: pointer;
}

div.episode.opened div.info div.rounded.rating span.glyphicons_v2 {
  margin-right: 4px;
}

div.episode div.expand {
  width: 100%;
  border-top: 1px solid rgba($lightGrey, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0;
}

div.episode div.expand p {
  margin: 0;
}

div.episode div.expand p a {
  font-weight: 600;
}

div.episode.closed div.expand img {
  fill: #000;
}

div.episode.opened div.expand {
  display: none;
}

div.episode div.image a {
  width: 227px;
  height: 127px;
  display: block;
}

div.episode div.info {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

div.episode div.info > div {
  width: 100%;
}

div.episode h3 {
  font-size: 1em;
}

div.episode div.info div.title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}

div.episode div.info div.title div.wrapper {
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 20px;
  width: 100%;
}

div.episode div.info div.title h3 {
  display: inline-block;
  font-weight: 700;
  font-size: 1.1em;
  margin: 0;
}

div.episode div.info div.title h3 a {
  color: #000;
  font-weight: 600;
}

div.episode div.info span.episode_number {
  padding-right: 10px;
  font-weight: 700;
}

div.episode div.info div.date {
  flex: 0 0 auto;
  display: inline-block;
  white-space: nowrap;
  font-size: 0.9em;
  font-weight: normal;
  color: #666;
}

div.media div.episode p,
div.media div.episode div.info div.overview p {
  white-space: normal;
  font-size: 0.9em;
}

div.media div.episode div.info div.overview p:last-of-type {
  margin-bottom: 0;
}

div.media div.episode div.info a.read_more {
  display: none;
}

div.media div.episode.closed div.info p a.read_more {
  color: #666;
  text-transform: lowercase;
}

div.expanded_wrapper {
  width: 100%;
}

div.episode div.expanded_info {
  padding: 15px 20px;
  border-top: 1px solid rgba($lightGrey, 1);
  width: 100%;
  display: flex;
  box-sizing: border-box;
}

div.episode div.expanded_info.wrap {
  flex-wrap: wrap;
}

div.episode div.expanded_info.wrap div.wrapper {
  width: 100%;
}

div.episode div.expanded_info div.crew {
  width: 30%;
}

div.episode div.expanded_info div.guest_stars {
  width: 70%;
}

div.episode div.expanded_info p {
  margin-bottom: 0;
}

div.episode div.expanded_info p strong {
  font-weight: 600;
}

div.episode div.episode_images {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
}

div.episode div.episode_images {
  display: flex;
  flex-wrap: nowrap;
}

div.episode div.episode_images div {
  display: block;
  width: 160px;
  height: 90px;
  margin-right: 10px;
}

div.episode div.episode_images div:last-child {
  margin-right: 0;
}

div.episode div.episode_images div a {
  width: 100%;
  height: 100%;
  display: block;
}

div.episode div.episode_images div img {
  width: 160px;
  height: 90px;
}

div.episode ol.people.credits {
  margin-bottom: 0;
}

div.episode ol.people.credits li div.info {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
}

div.episode ol.people.credits div.no_image_holder {
  border-radius: $imageBorderRadius;
}

div.expanded_info a.right {
  font-size: 0.8em;
  font-weight: normal;
}

span.buttons div.loader {
  display: inline-block;
  float: right;
  position: relative;
  top: 13px;
  right: 30px;
}

section.inner_content span.buttons a.button.rounded {
  padding: 8px 12px;
  margin-top: 0;
  background-color: #ccc;
  border-width: 1px;
  color: #000;
  background: linear-gradient(#eeeeee, #dcdcdc);
  border-color: #ccc;
}

section.inner_content span.buttons a.button.rounded.selected,
section.inner_content span.buttons a.button.rounded:hover {
  background: linear-gradient(#dcdcdc, #eeeeee);
}

section.inner_content span.buttons a.button.rounded {
  font-size: 0.8em;
}

section.inner_content h3 span.buttons {
  font-size: 0.9em;
}

section.inner_content span.buttons a.button.rounded.no_hover:hover {
  background: linear-gradient(#eeeeee, #dcdcdc);
  cursor: default;
}

section.inner_content span.buttons a.button.rounded.right_edge {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-width: 0;
}

section.inner_content span.buttons a.button.rounded.left_edge {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

section.inner_content span.buttons a.button.rounded.middle {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left-width: 0;
}

section.inner_content a.button.rounded.edit.text {
  font-weight: 400;
  border-color: #ccc;
  font-size: 0.7em;
}

section.inner_content a.button.rounded.edit.text:hover {
  border-color: #ccc;
}

div#collection_waypoint {
  width: 100%;
  border-radius: $imageBorderRadius;
  overflow: hidden;
}

div.header.collection {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 258px;
  overflow: hidden;
  background-image: url('https://www.themoviedb.org/assets/2/v4/account_pipes/silver-251bf173c626c8be6f61efdd85b7009a83b2f9dfa60b80b182351a02fa2a57ec.svg');
  background-color: #ccc;
  background-repeat: no-repeat;
  background-position: 50% 60%;
  padding: 0 20px;
}

section.panel.collection {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

section.panel.collection div {
  width: 100%;
}

div.header.collection h2 {
  font-size: 1.9em;
  font-weight: 600;
  margin-bottom: 0;
}

div.header.collection p {
  font-size: 1.1em;
  color: #fff;
}

div.header.collection p.new_button a {
  font-size: 1em;
  margin: 0;
  text-transform: uppercase;
}

h3 span.translator {
  font-size: 0.7em;
  position: relative;
  top: -2px;
  left: 10px;
}

div.media_tooltip_popup div.image,
div.media_tooltip_popup div.image a {
  width: 94px;
  height: 141px;
  display: inline-block;
}

div.media_tooltip_popup div.image img {
  width: 94px;
  height: 141px;
  border-radius: $imageBorderRadius;
}

div.media_tooltip_popup div.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  padding-left: 20px;
}

div.media_tooltip_popup div.content div.flex {
  display: flex;
  align-items: center;
}

div.media_tooltip_popup div.content div.flex a {
  color: #fff;
}

div.media_tooltip_popup div.content div.rating_block {
  height: 24px;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  border: none;
  background-color: rgba($tmdbLightBlue, 1);
  color: #fff;
  padding-left: 6px;
  padding-right: 7px;
  font-size: 0.9em;
  font-weight: 600;
  margin-left: 10px;
}

div.media_tooltip_popup div.content div.overview {
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
}

div.media_tooltip_popup div.content div.overview p {
  font-size: 0.9em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

div.media_tooltip_popup div.content div.buttons {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: auto;
  height: auto;
}

div.media_tooltip_popup div.content div.buttons.hide {
  display: none;
}

div.media_tooltip_popup div.content div.buttons a {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 1.2em;
}

div.media_tooltip_popup div.content div.buttons a:hover {
  background-color: #9ea4a7;
  border-color: #9ea4a7;
}

div.media_tooltip_popup div.content div.buttons a:first-of-type {
  margin-left: 0;
}

div.media_tooltip_popup div.content div.rating_stars {
  position: relative;
  top: 0;
  left: 14px;
  height: 35px;
}

h3 a.translate span {
  padding-left: 4px;
}

section.content.list_popup ul.results {
  margin: 0 0 0 20px;
  list-style-type: disc;
  list-style-position: outside;
}

div.discussion_container table {
  margin: 0;
  width: 100%;
}

div.discussion_container table thead {
  border-color: #fff;
}

div.discussion_container table tbody {
  width: 100%;
}

div.discussion_container tbody,
div.discussion_container tr,
div.discussion_container td {
  display: inline-block;
}

div.discussion_container thead {
  display: none;
}

div.discussion_container tr {
  width: 100%;
  background: rgba(255, 255, 255, 1);
  border-radius: $imageBorderRadius;
  margin-bottom: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  color: #000;
  border: 1px solid rgba($lightGrey, 1);
  box-sizing: border-box;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

div.discussion_container tr:last-of-type {
  margin-bottom: 0;
}

div.discussion_container tr.none {
  background-color: transparent;
  border-color: transparent !important;
  padding: 0;
  box-shadow: none;
}

div.discussion_container table td:first-of-type {
  width: 60%;
  font-size: 1em;
  padding-left: 0;
}

div.discussion_container tr.none td:first-of-type {
  width: 100%;
  text-align: left;
}

div.discussion_container table td:nth-child(2),
div.discussion_container table td:nth-child(3) {
  text-align: right;
}

div.discussion_container table td:last-child {
  width: 230px;
  padding-left: 20px;
  text-align: right;
  white-space: nowrap;
}

div.discussion_container table td.no_results:last-child {
  width: 100%;
}

div.discussion_container table td.no_results:last-child p {
  text-align: left;
}

div.discussion_container table tbody td {
  font-weight: 300;
  font-size: 0.9em;
  text-align: left;
  padding: 0;
  box-sizing: border-box;
}

div.discussion_container table tbody td p {
  margin: 0;
}

div.discussion_container table tbody td p.status {
  padding-right: 40px;
}

div.discussion_container table tbody td:last-of-type {
  padding-right: 0;
}

div.discussion_container table tbody td:last-child p {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
}

div.discussion_container table tbody td.none {
  font-weight: 400;
  padding-left: 0;
}

div.discussion_container table tbody td.none:last-child p {
  text-align: left;
}

div.discussion_container table tbody td.subject div.post_info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  flex-wrap: nowrap;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
}

div.post_info > div.flex_wrapper {
  width: 100%;
  display: flex;
}

div.post_info div.avatar_wrapper {
  display: flex;
  align-items: flext-start;
  align-content: center;
}

div.post_info div.link_wrapper {
  display: flex;
  align-items: center;
  min-height: 32px;
}

div.discussion_container table tbody td.subject a.topic {
  font-size: 1em;
}

div.discussion_container table tbody td div.inner_item {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 46px;
}

div.discussion_container table tbody td div.inner_item p {
  box-sizing: border-box;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

div.discussion_container table tbody td div.inner_item img {
  box-sizing: border-box;
  margin-right: 3px;
  margin-bottom: 0;
  width: 24px;
  height: 36px;
  border-radius: 2px;
}

div.discussion_container table tbody td div.inner_item div.image_wrapper {
  width: 24px;
  height: 36px;
  margin-left: 4px;
  margin-right: 6px;
}

div.discussion_container table tbody td div.inner_item div.no_image_holder {
  border-radius: 4px;
}

div.discussion_container table tbody td span.glyphicons_v2 {
  margin-right: 6px;
  color: #ccc;
}

div.discussion_container span.avatar {
  float: none;
  width: 32px;
  height: 32px;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 10px;
}

div.discussion_container span.avatar img,
div.discussion_container span.avatar span {
  width: 100%;
  height: 100%;
  border: none;
}

div.discussion_container span.avatar span {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.9em;
  font-weight: 600;
}

div.discussion_container span.avatar a {
  display: inline-block;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  margin: 0;
}

div.discussion_container span.username a {
  color: #000;
}

section.header.small span.flex {
  display: flex;
}

section.header.small span.flex > a {
  min-width: 58px;
  width: 58px;
  height: 87px;
  box-sizing: border-box;
}

section.header.small span.flex.backdrop > a {
  min-width: 160px;
  width: 160px;
  height: 90px;
}

section.header.small span.flex > a img {
  display: block;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}

section.header.small span.flex > span {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  padding-left: 20px;
  box-sizing: border-box;
}

section.header.small span.flex.backdrop > span {
  width: 840px;
}

div.header div.inner_content.tight {
  flex-wrap: wrap;
}

div.header div.inner_content.tight.meta {
  padding-bottom: 0;
}

div.header div.inner_content.tight div.meta {
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: #fff;
  background: rgba($tmdbDarkBlue, 0.7);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

div.header div.inner_content.tight div.meta div.flex {
  width: 100%;
  max-width: 1300px;
  padding: 0 40px;
}

div.header div.inner_content.tight div.meta ul {
  display: flex;
}

div.header div.inner_content.tight div.meta ul li {
  display: flex;
  align-items: center;
  align-content: center;
  margin-right: 20px;
  padding: 10px 0;
  opacity: 0.7;
}

div.header div.inner_content.tight div.meta ul li.logo {
  margin-top: 14px;
}

div.header div.inner_content.tight div.meta ul li a {
  color: #fff;
  border-bottom: 1px solid transparent;
}

div.header div.inner_content.tight div.meta ul li a:hover {
  border-bottom: 1px solid #fff;
}

div.header div.inner_content.tight div.meta ul li span,
div.header div.inner_content.tight div.meta ul li img {
  margin-right: 6px;
}

div.header div.inner_content.tight div.meta ul li span.glyphicons_v2 {
  font-size: 1.4em;
}

div.header div.inner_content.tight div.content.space_between {
  align-items: center;
  justify-content: space-between;
}

div.header div.inner_content div.about h2 {
  margin-right: 30px;
  font-size: 1.8em;
}

div.header div.inner_content.tight div.content.space_between div.about + div.flex h2 {
  white-space: nowrap;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 0;
}

div.header div.inner_content.tight div.content.space_between div.flex {
  display: flex;
  align-items: center;
}

div.header div.inner_content.tight div.content.space_between span.flex {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
}

div.header div.inner_content.tight div.content.space_between span.flex span.inner_flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

div.header div.inner_content.tight div.content.space_between span.flex span.inner_flex div.inner_flex {
  display: flex;
  align-items: center;
}

div.header div.inner_content div.content span.flex span.inner_flex > a {
  display: block;
  min-width: 50px;
  width: 50px;
  height: 50px;
  margin-right: 20px;
}

div.header div.inner_content.tight div.content a img {
  border-radius: 4px;
  display: inline-block;
}

div.header div.inner_content.tight div.content a img.poster {
  width: 50px;
  height: 50px;
}

div.header div.inner_content.tight div.content a img.backdrop {
  width: 89px;
  height: 50px;
}

div.header div.inner_content.tight div.content a.logo img {
  border-radius: 0;
}

div.header div.inner_content div.content.backdrop span.flex span.inner_flex > a {
  width: 89px;
  min-width: 89px;
  height: 50px;
}

div.header div.inner_content.tight div.about {
  width: 100%;
}

section.panel div.group_dropdown {
  display: flex;
  align-items: flex-start;
}

section.panel div.group_dropdown div {
  position: relative;
  top: 0;
  left: 0;
  margin-left: 10px;
}

section.panel div.group_dropdown div ul {
  padding: 0 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

section.panel div.group_dropdown div ul li {
  white-space: nowrap;
  padding: 5px 0;
}

section.panel div.group_dropdown div ul li ul {
  display: none;
}

section.panel div.group_dropdown div:hover ul li ul {
  top: -5px;
  left: -1px;
  display: block;
  background-color: #fff;
  border: 1px solid #d7d7d7;
}

section.panel div.group_dropdown div:hover ul li:first-child {
  padding-top: 9px;
}

section.panel div.group_dropdown div:hover ul li:last-child {
  padding-bottom: 9px;
}

div.content_wrapper.full_width div.block {
  width: 100%;
  max-width: 1300px;
  padding: 0 40px;
}

div.block div.inner_content div.content section.episode_selector {
  color: #000;
  padding: 10px 0;
  width: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

div.block div.inner_content div.content section.episode_selector a {
  display: inline-flex;
  align-items: center;
  align-content: center;
}

div.block div.inner_content div.content section.episode_selector span.previous,
div.block div.inner_content div.content section.episode_selector span.next {
  width: 50%;
  display: inline-flex;
  align-content: center;
  align-items: center;
}

div.block div.inner_content div.content section.episode_selector span.next {
  justify-content: flex-end;
}

div.block div.inner_content div.content section.episode_selector span.current {
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
}

div.block div.inner_content div.content section.episode_selector span.next a {
  justify-content: flex-end;
}

div.block div.inner_content div.content section.episode_selector span.glyphicons_v2 {
  font-size: 1.4em;
}

div.block div.inner_content div.content section.episode_selector span.previous span.glyphicons_v2 {
  margin-right: 6px;
}

div.block div.inner_content div.content section.episode_selector span.next span.glyphicons_v2 {
  margin-left: 6px;
}

div.borderless_window {
  border-radius: 0;
}

div.sparkline_template h2 {
  font-size: 1.1em;
  line-height: 1.1em;
  margin: 0;
}

div.sparkline_template p {
  margin: 0;
}

.rating-container .clear-rating span.glyphicons_v2 {
  top: -1px;
}

.rating-container .clear-rating,
.rating-container .empty-stars {
  color: rgba($tmdbDarkBlue, 0.9);
}

.tmdb_theme .rating-container .clear-rating,
.tmdb_theme .rating-container .empty-stars {
  color: rgba(255, 255, 255, 0.9);
  margin-top: -6px;
}

.tmdb_theme.image_popup {
  padding: 10px 10px 10px 10px;
}

.tmdb_theme.image_popup.poster img,
.tmdb_theme.image_popup.profile img {
  width: 200px;
  height: calc(200px * 1.5);
  display: block;
}

.tmdb_theme.image_popup.backdrop img {
  width: 300px;
  height: calc(300px / 1.78);
  display: block;
}

div.diff ul li {
  padding: 0.75rem;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.75em;
  word-break: break-word;
  hyphens: auto;
}

div.diff ul li del,
div.diff ul li ins {
  text-decoration: none;
}

div.diff ul li.del del strong {
  background-color: #fdb8c0;
}

div.diff ul li.del {
  background-color: #ffeef0;
}

div.diff ul li.ins {
  background-color: #e6ffed;
}

div.diff ul li.ins ins strong {
  background-color: #acf2bd;
}

div.diff ul li.unchanged {
  background-color: #e6f6ff;
}

table.changes_with_aggregates div.avatar {
  display: flex;
  align-items: center;
}

table.changes_with_aggregates div.avatar a:first-of-type {
  margin-right: 10px;
  width: 32px;
  height: 32px;
}

table.changes_with_aggregates div.avatar img {
  display: block;
  width: 32px;
  height: 32px;
}

table.changes_with_aggregates div.avatar span.initials {
  width: 32px;
  height: 32px;
  font-weight: 600;
}

table.changes_with_aggregates span.language {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8em;
  font-weight: 600;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 2px 6px;
  background-color: #fff;
}

table td.diff_data span.ins {
  background-color: #e6ffed;
}

table td.diff_data span.del {
  background-color: #ffeef0;
}

ul.k-menu a.reset.k-link,
ul.k-menu li.k-item.reset {
  color: rgba(0, 0, 0, 0.4);
}

ul.k-group li.active a {
  font-weight: 700;
}

div.rating_details div.section:first-of-type {
  border-top: none;
}

div.rating_details div.section {
  border-top: 1px solid #ccc;
}

div.rating_details div.content {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  padding: 20px;
  box-sizing: border-box;
}

div.rating_details div.content div.wrapper {
  width: 100%;
  box-sizing: border-box;
}

div.rating_details div.consensus {
  margin-right: 10px;
}

div.rating_details div.content h2 {
  margin: 0;
  line-height: 1.2em;
}

#rating_histogram_chart {
  width: 100%;
  height: 70px;
}

div.rating_details ul.legend {
  margin: 0;
  padding: 0;
  color: rgb(183, 183, 183);
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

div.rating_details ul.legend li {
  margin: 0;
  padding: 0;
}

div.rating_details a.close.right {
  display: flex;
  justify-content: flex-end;
  float: none;
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 2em;
}

div.card.translation {
  border: 1px solid rgba($lightGrey, 1);
  margin-top: 30px;
  width: 100%;
}

div.card.translation:first-of-type {
  margin-top: 0;
}

div.card.translation div.language {
  background-color: rgba(41, 43, 44, 0.085);
  border-bottom: 1px solid rgba($lightGrey, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px;
}

div.card.translation div.language h2 {
  font-weight: 600;
}

div.card.translation div.lock_column {
  width: 40px;
  min-width: 40px;
  display: inline-flex;
  align-items: center;
}

div.card.translation div.title {
  display: flex;
  border-bottom: 1px solid rgba($lightGrey, 1);
  padding: 8px 10px;
}

div.card.translation div.title h2 {
  font-weight: 400;
}

div.card.translation h2,
div.card.translation div h2 {
  font-size: 1.1em;
  margin: 0;
}

div.card.translation h3,
div.card.translation div h3 {
  margin: 0;
  font-size: 1.1em;
}

div.card.translation h2,
div.card.translation h3 {
  font-weight: 400;
}

div.card.translation div span.edit,
div.card.translation div span.edit a {
  display: inline-flex;
  align-items: center;
  align-content: center;
}

div.card.translation h2 span,
div.card.translation div h2 span {
  font-size: 0.9em;
  opacity: 0.4;
}

div.card.translation .light {
  font-weight: 400;
  opacity: 0.2;
}

div.card.translation div.title > span {
  width: 100%;
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}

div.card.translation div span.glyphicons_v2 {
  opacity: 0.3;
  font-size: 1.4em;
}

div.card.translation div span.glyphicons_v2.locked,
div.card.translation div span.glyphicons_v2.unlocked {
  opacity: 0.1;
  margin-right: 10px;
  font-size: 1.1em;
}

div.card.translation div.content {
  display: flex;
  flex-wrap: wrap;
}

div.card.translation div.tagline {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba($lightGrey, 1);
  padding: 8px 10px;
}

div.card.translation div.overview {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 8px 10px;
  border-bottom: 1px solid rgba($lightGrey, 1);
}

div.card.translation div.overview:last-child {
  border-bottom: none;
}

div.card.translation div.overview div.lock_column {
  margin-top: 3px;
}

div.card.translation div.overview p {
  font-size: 1em;
}

div.card.translation div.overview p:last-of-type {
  margin: 0;
}

div.card.translation div.misc {
  width: 100%;
  display: flex;
  padding: 8px 10px;
}

div.card.translation div.column {
  display: flex;
  width: 70%;
}

div.card.translation div.column.runtime {
  width: 30%;
}

div.card.translation div.misc h3 {
  font-weight: 400;
  font-size: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}

table.card.releases {
  width: 100%;
  border: 1px solid rgba($lightGrey, 1);
  border-radius: $imageBorderRadius;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
}

table.card.releases h2.release {
  font-size: 1.1em;
  display: flex;
  align-items: center;
}

h2.release img {
  margin-right: 6px;
}

table.card.releases thead {
  background-color: rgba(41, 43, 44, 0.085);
  border-bottom: 1px solid rgba($lightGrey, 1);
  border-collapse: separate;
}

table.card.releases thead th {
  text-align: left;
  padding: 6px 10px;
}

table.card.releases thead th.date {
  width: 120px;
}

table.card.releases thead th.certification {
  width: 170px;
}

table.card.releases thead th.type {
  width: 200px;
}

table.card.releases thead th.language {
  width: 80px;
}

table.card.releases thead th.note,
table.card.releases tbody td.note {
  text-align: right;
}

table.card.releases tbody td {
  padding: 6px 10px 8px 10px;
}

table.card.releases + table {
  margin-top: 30px;
}

table.card.releases tr.sub {
  background-color: #fff;
}

table.card.releases tr.sub th {
  font-weight: 600;
  border-bottom: 1px solid rgba($lightGrey, 1);
  border-collapse: separate;
}

table.card.releases.titles tr td {
  white-space: nowrap;
  width: 50%;
}

div.rating_tooltip {
  display: flex;
  flex-wrap: wrap;
}

div.rating_tooltip div {
  width: 100%;
  display: flex;
  align-items: center;
}
