<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="person">
            <h2><span jhiTranslate="mymoviesdbApp.person.detail.title">Person</span> {{ person.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mymoviesdbApp.person.birthday">Birthday</span></dt>
                <dd>
                    <span>{{ person.birthday }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.person.deathday">Deathday</span></dt>
                <dd>
                    <span>{{ person.deathday }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.person.name">Name</span></dt>
                <dd>
                    <span>{{ person.name }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.person.aka">Aka</span></dt>
                <dd>
                    <span>{{ person.aka }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.person.gender">Gender</span></dt>
                <dd>
                    <span>{{ person.gender }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.person.biography">Biography</span></dt>
                <dd>
                    <span>{{ person.biography }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.person.placeOfBirth">Place Of Birth</span></dt>
                <dd>
                    <span>{{ person.placeOfBirth }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.person.homepage">Homepage</span></dt>
                <dd>
                    <span>{{ person.homepage }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.person.lastTMDBUpdate">Last TMDB Update</span></dt>
                <dd>
                    <span>{{ person.lastTMDBUpdate }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.person.tmdbId">Tmdb Id</span></dt>
                <dd>
                    <span>{{ person.tmdbId }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/person', person.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
