<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="image">
            <h2><span jhiTranslate="mymoviesdbApp.image.detail.title">Image</span> {{ image.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mymoviesdbApp.image.tmdbId">Tmdb Id</span></dt>
                <dd>
                    <span>{{ image.tmdbId }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.image.locale">Locale</span></dt>
                <dd>
                    <span>{{ image.locale }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.image.voteAverage">Vote Average</span></dt>
                <dd>
                    <span>{{ image.voteAverage }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.image.voteCount">Vote Count</span></dt>
                <dd>
                    <span>{{ image.voteCount }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.image.lastTMDBUpdate">Last TMDB Update</span></dt>
                <dd>
                    <span>{{ image.lastTMDBUpdate }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.image.posterMovie">Poster Movie</span></dt>
                <dd>
                    <div *ngIf="image.posterMovieId">
                        <a [routerLink]="['/movie', image.posterMovieId, 'view']">{{ image.posterMovieTitle }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.image.backdropMovie">Backdrop Movie</span></dt>
                <dd>
                    <div *ngIf="image.backdropMovieId">
                        <a [routerLink]="['/movie', image.backdropMovieId, 'view']">{{ image.backdropMovieTitle }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.image.person">Person</span></dt>
                <dd>
                    <div *ngIf="image.personId">
                        <a [routerLink]="['/person', image.personId, 'view']">{{ image.personName }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/image', image.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
