<div>
    <h2 id="page-heading">
        <span jhiTranslate="mymoviesdbApp.credit.home.title">Credits</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-credit" [routerLink]="['/credit/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="mymoviesdbApp.credit.home.createLabel">
            Create a new Credit
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'mymoviesdbApp.credit.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="credits?.length === 0">
        <span jhiTranslate="mymoviesdbApp.credit.home.notFound">No credits found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="credits && credits.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="tmdbId"><span jhiTranslate="mymoviesdbApp.credit.tmdbId">Tmdb Id</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="character"><span jhiTranslate="mymoviesdbApp.credit.character">Character</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="creditType"><span jhiTranslate="mymoviesdbApp.credit.creditType">Credit Type</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="department"><span jhiTranslate="mymoviesdbApp.credit.department">Department</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="job"><span jhiTranslate="mymoviesdbApp.credit.job">Job</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="order"><span jhiTranslate="mymoviesdbApp.credit.order">Order</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastTMDBUpdate"><span jhiTranslate="mymoviesdbApp.credit.lastTMDBUpdate">Last TMDB Update</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="personName"><span jhiTranslate="mymoviesdbApp.credit.person">Person</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="movieTitle"><span jhiTranslate="mymoviesdbApp.credit.movie">Movie</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let credit of credits ;trackBy: trackId">
                    <td><a [routerLink]="['/credit', credit.id, 'view']">{{ credit.id }}</a></td>
                    <td>{{ credit.tmdbId }}</td>
                    <td>{{ credit.character }}</td>
                    <td>{{ credit.creditType }}</td>
                    <td>{{ credit.department }}</td>
                    <td>{{ credit.job }}</td>
                    <td>{{ credit.order }}</td>
                    <td>{{ credit.lastTMDBUpdate | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="credit.personId">
                            <a [routerLink]="['/person', credit.personId , 'view']" >{{ credit.personName }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="credit.movieId">
                            <a [routerLink]="['/movie', credit.movieId , 'view']" >{{ credit.movieTitle }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/credit', credit.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/credit', credit.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(credit)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
