<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-credit-heading" jhiTranslate="mymoviesdbApp.credit.home.createOrEditLabel">Create or edit a Credit</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mymoviesdbApp.credit.tmdbId" for="field_tmdbId" [ngbTooltip]="'mymoviesdbApp.credit.help.tmdbId' | translate">Tmdb Id</label>
                    <input type="text" class="form-control" name="tmdbId" id="field_tmdbId"
                           formControlName="tmdbId"/>
                    <div *ngIf="editForm.get('tmdbId')!.invalid && (editForm.get('tmdbId')!.dirty || editForm.get('tmdbId')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('tmdbId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mymoviesdbApp.credit.character" for="field_character">Character</label>
                    <input type="text" class="form-control" name="character" id="field_character"
                           formControlName="character"/>
                    <div *ngIf="editForm.get('character')!.invalid && (editForm.get('character')!.dirty || editForm.get('character')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('character')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 200 }">
                        This field cannot be longer than 200 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mymoviesdbApp.credit.creditType" for="field_creditType">Credit Type</label>
                    <input type="text" class="form-control" name="creditType" id="field_creditType"
                           formControlName="creditType"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mymoviesdbApp.credit.department" for="field_department">Department</label>
                    <input type="text" class="form-control" name="department" id="field_department"
                           formControlName="department"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mymoviesdbApp.credit.job" for="field_job">Job</label>
                    <input type="text" class="form-control" name="job" id="field_job"
                           formControlName="job"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mymoviesdbApp.credit.order" for="field_order">Order</label>
                    <input type="number" class="form-control" name="order" id="field_order"
                           formControlName="order"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mymoviesdbApp.credit.lastTMDBUpdate" for="field_lastTMDBUpdate">Last TMDB Update</label>
                    <div class="input-group">
                        <input id="field_lastTMDBUpdate" type="text" class="form-control" name="lastTMDBUpdate" ngbDatepicker #lastTMDBUpdateDp="ngbDatepicker" formControlName="lastTMDBUpdate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="lastTMDBUpdateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('lastTMDBUpdate')!.invalid && (editForm.get('lastTMDBUpdate')!.dirty || editForm.get('lastTMDBUpdate')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lastTMDBUpdate')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mymoviesdbApp.credit.person" for="field_person">Person</label>
                    <select class="form-control" id="field_person" name="person" formControlName="personId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personOption.id" *ngFor="let personOption of people; trackBy: trackById">{{ personOption.name }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mymoviesdbApp.credit.movie" for="field_movie">Movie</label>
                    <select class="form-control" id="field_movie" name="movie" formControlName="movieId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="movieOption.id" *ngFor="let movieOption of movies; trackBy: trackById">{{ movieOption.title }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
