<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="imageData">
            <h2><span jhiTranslate="mymoviesdbApp.imageData.detail.title">Image Data</span> {{ imageData.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="mymoviesdbApp.imageData.imageSize">Image Size</span></dt>
                <dd>
                    <span>{{ imageData.imageSize }}</span>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.imageData.imageBytes">Image Bytes</span></dt>
                <dd>
                    <div *ngIf="imageData.imageBytes">
                        <a (click)="openFile(imageData.imageBytesContentType, imageData.imageBytes)">
                            <img [src]="'data:' + imageData.imageBytesContentType + ';base64,' + imageData.imageBytes" style="max-width: 100%;" alt="imageData image"/>
                        </a>
                        {{ imageData.imageBytesContentType }}, {{ byteSize(imageData.imageBytes) }}
                    </div>
                </dd>
                <dt><span jhiTranslate="mymoviesdbApp.imageData.image">Image</span></dt>
                <dd>
                    <div *ngIf="imageData.imageId">
                        <a [routerLink]="['/image', imageData.imageId, 'view']">{{ imageData.imageId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/image-data', imageData.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
