<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-my-movie-heading" jhiTranslate="mymoviesdbApp.myMovie.home.createOrEditLabel">Create or edit a My Movie</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mymoviesdbApp.myMovie.comments" for="field_comments" [ngbTooltip]="'mymoviesdbApp.myMovie.help.comments' | translate">Comments</label>
                    <input type="text" class="form-control" name="comments" id="field_comments"
                           formControlName="comments"/>
                    <div *ngIf="editForm.get('comments')!.invalid && (editForm.get('comments')!.dirty || editForm.get('comments')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('comments')?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 4000 }">
                        This field cannot be longer than 4000 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mymoviesdbApp.myMovie.vote" for="field_vote">Vote</label>
                    <input type="number" class="form-control" name="vote" id="field_vote"
                           formControlName="vote"/>
                    <div *ngIf="editForm.get('vote')!.invalid && (editForm.get('vote')!.dirty || editForm.get('vote')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('vote')?.errors?.min" jhiTranslate="entity.validation.min" [translateValues]="{ min: 0 }">
                            This field should be at least 0.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('vote')?.errors?.max" jhiTranslate="entity.validation.max" [translateValues]="{ max: 5 }">
                            This field cannot be more than 5.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('vote')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mymoviesdbApp.myMovie.viewedDate" for="field_viewedDate">Viewed Date</label>
                    <div class="input-group">
                        <input id="field_viewedDate" type="text" class="form-control" name="viewedDate" ngbDatepicker #viewedDateDp="ngbDatepicker" formControlName="viewedDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="viewedDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mymoviesdbApp.myMovie.movie" for="field_movie">Movie</label>
                    <select class="form-control" id="field_movie" name="movie" formControlName="movieId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="movieOption.id" *ngFor="let movieOption of movies; trackBy: trackById">{{ movieOption.title }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="mymoviesdbApp.myMovie.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="userId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
