/* after changing this file run 'npm run webpack:build' */

/***************************
put Sass variables here:
eg $input-color: red;
****************************/
//@import '~bootswatch/dist/solar/variables';
// Override Bootstrap variables
//@import 'bootstrap-variables';
// Import Bootstrap source files from node_modules
//@import '~bootstrap/scss/bootstrap';
//@import '~bootswatch/dist/solar/bootswatch';

/* jhipster-needle-scss-add-vendor JHipster will add new css style */

$fa-font-path: '~font-awesome/fonts';
$image-path: '~angular-bootstrap-md/assets/img' !default;
$roboto-font-path: '~angular-bootstrap-md/assets/font/roboto/' !default;
@import '~angular-bootstrap-md/assets/scss/bootstrap/bootstrap';
@import '~angular-bootstrap-md/assets/scss/mdb';
